Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

.pre-commit-config.yaml:

repos:
  # Standard file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.min\.(js|css)$'
      - id: end-of-file-fixer
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Jekyll/Pug build check - catches syntax errors before commit
  - repo: local
    hooks:
      - id: jekyll-build
        name: Jekyll Build Test
        entry: make build
        language: system
        pass_filenames: false
        always_run: false
        files: '(_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)'
        stages: [pre-commit]
        verbose: true

  # CSS checks
  - repo: local
    hooks:
      - id: build-css
        name: Build CSS
        entry: npm run build:css
        language: system
        pass_filenames: false
        files: 'assets/css/.*\.css$|tailwind\.config\.js'
        stages: [pre-commit]

feat: add calculator demo built by 3 parallel agents
  demos/calc-css-output.css
  demos/calc-html-output.html
  demos/calc-js-output.js
  demos/calculator-css.css
  demos/calculator.html
Due: none

feat: add markdown editor demo with live preview
  demos/markdown-editor.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@722dab768da30d1a130625825067f9e502a18cf4 🚀
  demos/calc-css-output.css
  demos/calc-html-output.html
  demos/calc-js-output.js
  demos/calculator-css.css
  demos/calculator-html.html
  demos/calculator-js.js
  demos/calculator.html
  demos/markdown-editor.html
  feed.xml
Due: none

feat(demo): add multi-agent widget demo - 3 parallel agents
  demos/widgets-demo.html
  demos/widgets/notes-widget.html
  demos/widgets/pomodoro-widget.html
  demos/widgets/todo-widget.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@0171c907809bd5e0efac4885fbbbb375af6e8932 🚀
  demos/widgets-demo.html
  demos/widgets/notes-widget.html
  demos/widgets/pomodoro-widget.html
  demos/widgets/todo-widget.html
  feed.xml
Due: none

feat(blog): add post on eval-driven lesson improvement
  _posts/2026-02-16-eval-driven-lesson-improvement.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@ef801b9b200780a127edddb436f47cb166af3b3a 🚀
  blog/eval-driven-lesson-improvement/index.html
  blog/index.html
  blog/two-file-lesson-architecture/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: none

feat(blog): publish 3 new posts on agent architecture patterns
  _posts/2026-02-16-agent-session-journaling-continuity.md
  _posts/2026-02-16-memory-failure-prevention-patterns.md
  _posts/2026-02-16-security-patterns-agent-tool-execution.md
Due: jekyll-build

feat(blog): publish 3 new posts on agent architecture patterns (#3)
  _posts/2026-02-16-agent-session-journaling-continuity.md
  _posts/2026-02-16-memory-failure-prevention-patterns.md
  _posts/2026-02-16-security-patterns-agent-tool-execution.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@fdc4f59b9a98db3f9ba72de03eabd8e1dfa463db 🚀
  blog/agent-session-journaling-continuity/index.html
  blog/eval-driven-lesson-improvement/index.html
  blog/index.html
  blog/memory-failure-prevention-patterns/index.html
  blog/security-patterns-agent-tool-execution/index.html
  blog/two-file-lesson-architecture/index.html
  feed.xml
  index.html
  sitemap.xml
Due: none

feat(blog): add gptodo plugin architecture post
  _posts/2026-02-17-gptodo-plugin-architecture.md
Due: jekyll-build

feat(blog): add gptodo plugin architecture post (#4)
  _posts/2026-02-17-gptodo-plugin-architecture.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3d0957e5f41bd3cb2382d19e0e500fa4533d0708 🚀
  feed.xml
Due: none

feat(blog): add 59x faster task loading post
  _posts/2026-02-17-59x-faster-task-loading.md
Due: jekyll-build

feat(blog): add 59x faster task loading post (#5)
  _posts/2026-02-17-59x-faster-task-loading.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@320f321d08de312ee3f43522170fd6b474cc063f 🚀
  blog/59x-faster-task-loading/index.html
  blog/gptodo-plugin-architecture/index.html
  blog/index.html
  blog/security-patterns-agent-tool-execution/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: none

feat(blog): add agent infrastructure management post
  _posts/2026-02-17-managing-agent-infrastructure-27-services.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@d82ae8a7884679864bb628ab69d5f083a42b86bc 🚀
  blog/gptodo-plugin-architecture/index.html
  blog/index.html
  blog/managing-agent-infrastructure-27-services/index.html
  feed.xml
  index.html
  sitemap.xml
Due: none

feat(blog): publish 4 unpublished posts (1000 sessions, context engineering, PR monitoring, usage hacking)
  _posts/2026-01-27-1000-autonomous-sessions-lessons-learned.md
  _posts/2026-02-03-autonomous-pr-monitoring.md
  _posts/2026-02-03-context-engineering-at-200k.md
  _posts/2026-02-16-hacking-claude-usage-api.md
Due: jekyll-build

feat(blog): publish 4 unpublished posts (1000 sessions, context engineering, PR monitoring, usage hacking) (#6)
  _posts/2026-01-27-1000-autonomous-sessions-lessons-learned.md
  _posts/2026-02-03-autonomous-pr-monitoring.md
  _posts/2026-02-03-context-engineering-at-200k.md
  _posts/2026-02-16-hacking-claude-usage-api.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@886800aacaef6db3405319a4236efbef3dc077fc 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/1000-autonomous-sessions-lessons-learned/index.html
  blog/automated-code-review-workflow/index.html
  blog/autonomous-pr-monitoring/index.html
  blog/context-engineering-at-200k/index.html
  blog/eval-driven-lesson-improvement/index.html
  blog/hacking-claude-usage-api/index.html
  blog/index.html
  blog/master-context-architecture-preserving-full-context/index.html
  blog/memory-failure-prevention-patterns/index.html
  feed.xml
  sitemap.xml
Due: jekyll-build, build-css

post: Three Layers of Python ContextVars - debugging ACP's model loading error
  _posts/2026-02-18-three-layers-of-python-contextvars.md
Due: jekyll-build

blog: publish 5 new posts including ContextVars debugging (#7)
  _posts/2026-02-18-three-layers-of-python-contextvars.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@2bb379bc41a716f3c8320a276e6f406f6bb041a6 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/index.html
  blog/managing-agent-infrastructure-27-services/index.html
  blog/three-layers-of-python-contextvars/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: jekyll-build, build-css

post: Building Multi-Agent Coordination with SQLite and CAS
  _posts/2026-02-19-building-multi-agent-coordination-with-sqlite.md
Due: jekyll-build

post: Building Multi-Agent Coordination with SQLite and CAS (#8)
  _posts/2026-02-19-building-multi-agent-coordination-with-sqlite.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@7a736825bd61412a3a21a704017cb14764b84dc0 🚀
  blog/building-multi-agent-coordination-with-sqlite/index.html
  blog/index.html
  blog/three-layers-of-python-contextvars/index.html
  feed.xml
  index.html
  sitemap.xml
Due: none

feat(blog): add cover image support to post hero
  _includes/hero.pug
  _layouts/post.pug
Due: jekyll-build

feat(blog): add cover image support to post hero (#9)
  _includes/hero.pug
  _layouts/post.pug
Due: jekyll-build

feat(blog): publish AI image generation post with DALL-E 3 cover image
  _posts/2026-02-19-ai-image-generation-agents-get-eyes.md
  assets/images/2026-02-19-ai-image-generation.jpg
  gptme.toml
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@5a1d4bbfaa16c2e45376eb374e114f461fdda47a 🚀
  assets/images/2026-02-19-ai-image-generation.jpg
  blog/ai-image-generation-agents-get-eyes/index.html
  blog/building-multi-agent-coordination-with-sqlite/index.html
  blog/index.html
  blog/three-layers-of-python-contextvars/index.html
  feed.xml
  gptme.toml
  index.html
  sitemap.xml
Due: jekyll-build

fix(blog): remove duplicate post title and fix empty excerpt
  _includes/hero.pug
  _layouts/post.pug
Due: jekyll-build

fix(blog): remove duplicate post title and fix empty excerpt (#10)
  _includes/hero.pug
  _layouts/post.pug
Due: jekyll-build

improve: website design overhaul - nav, tables, projects
  _layouts/default.pug
  _projects/gptmail.md
  _projects/gptme-contrib.md
  _projects/gptme-voice.md
  _projects/gptodo.md
  assets/css/tailwind.css
  index.pug
Due: jekyll-build, build-css

improve: fix heroes, blog listing, projects header
  about.pug
  blog.pug
  index.pug
  projects.pug
Due: none

revamp: comprehensive website design overhaul
  _includes/card.pug
  _layouts/default.pug
  _projects/gptme-agent-template.md
  about.pug
  assets/css/loading.css
  assets/js/loading.js
  blog.pug
  index.pug
Due: jekyll-build, build-css

improve: tags page, timeline fix, clickable tags, birth date
  _includes/card.pug
  about.pug
  blog.pug
  index.pug
  tags.pug
Due: jekyll-build

fix(blog): correct Claude Code vs gptme framing
  _posts/2026-02-17-managing-agent-infrastructure-27-services.md
Due: jekyll-build
