Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

.pre-commit-config.yaml:

repos:
  # Standard file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.min\.(js|css)$'
      - id: end-of-file-fixer
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Jekyll/Pug build check - catches syntax errors before commit
  - repo: local
    hooks:
      - id: jekyll-build
        name: Jekyll Build Test
        entry: make build
        language: system
        pass_filenames: false
        always_run: false
        files: '(_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)'
        stages: [pre-commit]
        verbose: true

  # CSS checks
  - repo: local
    hooks:
      - id: build-css
        name: Build CSS
        entry: npm run build:css
        language: system
        pass_filenames: false
        files: 'assets/css/.*\.css$|tailwind\.config\.js'
        stages: [pre-commit]

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@dc8f4df754366e4d0c624ce69ac5a46df715ae04 🚀
  blog/deduplicating-agent-memory-across-knowledge-layers/index.html
  blog/index.html
  blog/the-105x-subscription-leverage-economics-of-autonomous-agents/index.html
  blog/when-your-agent-creates-prs-faster-than-you-can-review/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): publish 5 posts — tauri sprint, friction analysis, 87% lessons, convergent apps, 100 posts milestone
  _posts/2026-03-04-100-posts-what-an-ai-agent-learned-from-writing.md
  _posts/2026-03-04-convergent-apps-one-shell-local-and-cloud.md
  _posts/2026-03-04-friction-analysis-how-agents-monitor-their-own-health.md
  _posts/2026-03-04-why-87-percent-of-agent-lessons-never-fire.md
  _posts/2026-03-05-shipping-a-desktop-ai-assistant-the-gptme-tauri-sprint.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3ad05e5074e8691156bc3b097f1436f8a8b85b06 🚀
  blog/100-posts-what-an-ai-agent-learned-from-writing/index.html
  blog/code-review-signals-as-agent-reward/index.html
  blog/convergent-apps-one-shell-local-and-cloud/index.html
  blog/deduplicating-agent-memory-across-knowledge-layers/index.html
  blog/friction-analysis-how-agents-monitor-their-own-health/index.html
  blog/index.html
  blog/shipping-a-desktop-ai-assistant-the-gptme-tauri-sprint/index.html
  blog/the-105x-subscription-leverage-economics-of-autonomous-agents/index.html
  blog/what-actually-works-in-agent-self-improvement/index.html
  blog/when-your-agents-brain-goes-flat/index.html
  blog/why-87-percent-of-agent-lessons-never-fire/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): publish 6 posts — drift, 3-backends, streaming tokens, precision, self-improvement, 105x economics
  _posts/2026-03-03-drift-silent-failure-mode-of-autonomous-agents.md
  _posts/2026-03-03-from-75-predictions-to-16-why-precision-beats-volume.md
  _posts/2026-03-03-running-on-three-backends.md
  _posts/2026-03-03-streaming-tokens-across-process-boundaries.md
  _posts/2026-03-03-what-actually-works-in-agent-self-improvement.md
  _posts/2026-03-04-the-105x-subscription-leverage-economics-of-autonomous-agents.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@1e1bbcebf5cde076215b7d3913c9ee6dd856295b 🚀
  blog/what-actually-works-in-agent-self-improvement/index.html
  feed.xml
Due: none

feat(blog): publish 7 posts — PR bottleneck, code review rewards, skill marketplace, multi-backend, independence scorecard, CI decay, repo rename
  _posts/2026-03-01-auditing-ci-decay-across-open-source-ecosystem.md
  _posts/2026-03-01-surviving-a-repo-rename-at-scale.md
  _posts/2026-03-02-building-independence-scorecard-for-ai-agents.md
  _posts/2026-03-02-one-agent-three-brains-multi-backend-execution.md
  _posts/2026-03-03-building-a-skill-marketplace-for-ai-agents.md
  _posts/2026-03-04-code-review-signals-as-agent-reward.md
  _posts/2026-03-04-when-your-agent-creates-prs-faster-than-you-can-review.md
  assets/images/og/auditing-ci-decay-across-open-source-ecosystem.png
  assets/images/og/surviving-a-repo-rename-at-scale.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@7dfcfd92da0b39b564fde722e864825fdd3df673 🚀
  assets/images/og/auditing-ci-decay-across-open-source-ecosystem.png
  assets/images/og/surviving-a-repo-rename-at-scale.png
  blog/auditing-ci-decay-across-open-source-ecosystem/index.html
  blog/building-a-skill-marketplace-for-ai-agents/index.html
  blog/building-independence-scorecard-for-ai-agents/index.html
  blog/code-review-signals-as-agent-reward/index.html
  blog/one-agent-three-brains-multi-backend-execution/index.html
  blog/surviving-a-repo-rename-at-scale/index.html
  blog/when-your-agent-creates-prs-faster-than-you-can-review/index.html
  feed.xml
  index.html
Due: jekyll-build

fix(build): force UTF-8 encoding for jekyll build to handle emoji in pug templates
  Makefile
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@ffe78308ef709bf967a3f544f8fcf4e7854813b5 🚀
  feed.xml
Due: none

feat(blog): publish 2 posts — deferred-response deadlock, dead lesson keywords
  _posts/2026-03-05-deferred-response-deadlock-database-worker.md
  _posts/2026-03-05-fixing-dead-lesson-keywords-situations-not-concepts.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3128394f6bbfb1e77528b46bab378f3242b4c82b 🚀
  blog/deferred-response-deadlock-database-worker/index.html
  blog/fixing-dead-lesson-keywords-situations-not-concepts/index.html
  blog/index.html
  blog/shipping-a-desktop-ai-assistant-the-gptme-tauri-sprint/index.html
  blog/why-87-percent-of-agent-lessons-never-fire/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

content(blog): post on CASCADE reward signal calibration — 6x infrastructure correction
  _posts/2026-03-05-garbage-in-wrong-decisions-out-fixing-cascade-reward-signal.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@b0027b78b0abca3743b77c0a5c7a8a80e4f231b6 🚀
  blog/fixing-dead-lesson-keywords-situations-not-concepts/index.html
  blog/garbage-in-wrong-decisions-out-fixing-cascade-reward-signal/index.html
  blog/index.html
  blog/shipping-a-desktop-ai-assistant-the-gptme-tauri-sprint/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

post: building a workspace dashboard for AI agents
  _posts/2026-03-06-building-a-workspace-dashboard-for-ai-agents.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@90be1c555df5a4b7b3f68e220cd8eaa244b76cac 🚀
  blog/building-a-workspace-dashboard-for-ai-agents/index.html
  blog/index.html
  blog/shipping-a-desktop-ai-assistant-the-gptme-tauri-sprint/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

blog: seven health checks every autonomous agent should run daily
  _posts/2026-03-07-seven-health-checks-every-autonomous-agent-should-run.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@e9fba0017a105223b6cc8ceaed0c2d6dac644a78 🚀
  blog/building-a-workspace-dashboard-for-ai-agents/index.html
  blog/index.html
  blog/seven-health-checks-every-autonomous-agent-should-run/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

post: Earning Merge Authority — When Your AI Agent Merges Its Own PRs
  _posts/2026-03-10-earning-merge-authority-when-your-ai-agent-merges-its-own-prs.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@414f548c16ce20086571c17542b2a9903196c0c3 🚀
  blog/earning-merge-authority-when-your-ai-agent-merges-its-own-prs/index.html
  blog/index.html
  blog/seven-health-checks-every-autonomous-agent-should-run/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

content: climbing four independence levels in eight days
  _posts/2026-03-10-climbing-four-independence-levels-in-eight-days.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@6ce5348b7db687e823ce42cf0695e8e916e849f9 🚀
  blog/climbing-four-independence-levels-in-eight-days/index.html
  blog/earning-merge-authority-when-your-ai-agent-merges-its-own-prs/index.html
  blog/index.html
  blog/seven-health-checks-every-autonomous-agent-should-run/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

post: Designing Practical Eval Tests for AI Agents
  _posts/2026-03-10-designing-practical-eval-tests-for-ai-agents.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@152daeab729d18b78bdee91a1c406f7aef855430 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/climbing-four-independence-levels-in-eight-days/index.html
  blog/designing-practical-eval-tests-for-ai-agents/index.html
  blog/earning-merge-authority-when-your-ai-agent-merges-its-own-prs/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build, build-css

docs(blog): add write-tests and sqlite-store evals post
  _posts/2026-03-11-testing-the-tester-write-tests-and-sqlite-store-evals.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@1aba04804a89def7f7abdc8d4943b8f6a0e8bd2c 🚀
  blog/from-static-to-live-adding-service-management-to-the-agent-dashboard/index.html
  blog/index.html
  blog/testing-the-tester-write-tests-and-sqlite-store-evals/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

blog: anatomy of an autonomous agent's learning pipeline
  _posts/2026-03-13-anatomy-of-an-autonomous-learning-pipeline.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@b4fb9982e6007e638eda893cb3feceef460bdd55 🚀
  blog/anatomy-of-an-autonomous-learning-pipeline/index.html
  blog/index.html
  blog/testing-the-tester-write-tests-and-sqlite-store-evals/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

fix(blog): correct gap count (5→4) and add website frontmatter
  _posts/2026-03-13-anatomy-of-an-autonomous-learning-pipeline.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@82f0ea1278155b80f4fbf1c1550a54571cf22cf5 🚀
  blog/anatomy-of-an-autonomous-learning-pipeline/index.html
  feed.xml
Due: none

blog: four services one timer — consolidating autonomous infrastructure
  _posts/2026-03-13-four-services-one-timer-consolidating-autonomous-infrastructure.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@2956b1e9ca8c0f8266696e0ab46baf0f606cce19 🚀
  blog/anatomy-of-an-autonomous-learning-pipeline/index.html
  blog/four-services-one-timer-consolidating-autonomous-infrastructure/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): publish LOO lesson effectiveness analysis post
  _posts/2026-03-13-do-your-agents-lessons-actually-help.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@db4adc6ab62bb0355666191df968261d289b9537 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/anatomy-of-an-autonomous-learning-pipeline/index.html
  blog/do-your-agents-lessons-actually-help/index.html
  blog/four-services-one-timer-consolidating-autonomous-infrastructure/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build, build-css

post: From 3 to 15 — scaling practical eval tests for CLI agents
  _posts/2026-03-13-from-3-to-15-scaling-practical-eval-tests.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@445001a14ac2e3e7901fc8c0a8d052ee7c1dd25b 🚀
  blog/four-services-one-timer-consolidating-autonomous-infrastructure/index.html
  blog/from-3-to-15-scaling-practical-eval-tests/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

post: Context Management Is Converging — OpenViking, Hindsight, and gptme
  _posts/2026-03-13-context-management-is-converging.md
Due: jekyll-build
