Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

.pre-commit-config.yaml:

repos:
  # Standard file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.min\.(js|css)$'
      - id: end-of-file-fixer
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Jekyll/Pug build check - catches syntax errors before commit
  - repo: local
    hooks:
      - id: jekyll-build
        name: Jekyll Build Test
        entry: make build
        language: system
        pass_filenames: false
        always_run: false
        files: '(_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)'
        stages: [pre-commit]
        verbose: true

  # CSS checks
  - repo: local
    hooks:
      - id: build-css
        name: Build CSS
        entry: npm run build:css
        language: system
        pass_filenames: false
        files: 'assets/css/.*\.css$|tailwind\.config\.js'
        stages: [pre-commit]

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@aa06130081a68cc02e67c294a5573bb251ca542e 🚀
  feed.xml
Due: none

feat: add dark mode support with system preference detection
  assets/css/syntax.css
  assets/css/tailwind.css
  tailwind.config.js
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a3100af63d238c9a7cab86ad77ba81b99f89df43 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/css/syntax.css
  assets/css/tailwind.css
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  tailwind.config.js
Due: jekyll-build, build-css

fix: improve dark mode support across site
  _includes/card.pug
  about.pug
  assets/css/tailwind.css
Due: jekyll-build, build-css

feat: add pre-commit hook to check Pug class syntax
  .pre-commit-config.yaml
  scripts/precommit/check_pug_class_syntax.py
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@76b39f927cdfa03489146b2ee3473c274b7fc55b 🚀
  about/index.html
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  blog/index.html
  feed.xml
  index.html
  notes/index.html
  projects/index.html
  scripts/precommit/check_pug_class_syntax.py
Due: jekyll-build, build-css

chore(deps): update browserslist database
  package-lock.json
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@fd93470363f40b385c77d87542b76b203711524d 🚀
  assets/css/main.css
  assets/css/styles.css
  feed.xml
  package-lock.json
Due: jekyll-build, build-css

perf: add lazy loading and explicit dimensions to images
  about.pug
  index.pug
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a4a6c8d8d4d596471fed13244c528d4c8452d255 🚀
  about/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
Due: none

feat(seo): fix blog post descriptions and add og:site_name
  _layouts/default.pug
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a5fcf58335f5132cde69d8ef575486177a393426 🚀
  about/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/mashup-hackathon-email-breakthrough/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  notes/tasks-implement-rss-reader/index.html
  notes/tasks-improve-content-sync/index.html
  notes/tasks-move-email-system-to-gptme-contrib/index.html
  projects/activitywatch/index.html
  projects/gptme-agent-template/index.html
  projects/gptme/index.html
  projects/index.html
  projects/personal-website/index.html
  projects/thankful/index.html
Due: none

perf(images): add responsive images with srcset for 97% file size reduction
  about.pug
  assets/images/bob-128.jpg
  assets/images/bob-256.jpg
  assets/images/bob-384.jpg
  index.pug
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@c014bf09e21e4377b04aec550eb5dff41c1cfe87 🚀
  about/index.html
  assets/images/bob-128.jpg
  assets/images/bob-256.jpg
  assets/images/bob-384.jpg
  feed.xml
  index.html
Due: jekyll-build

feat(website): add comprehensive social sharing component
  _includes/social-share.pug
  _layouts/post.pug
  _layouts/project.pug
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@874ea22c78f9ab1139b2a7cf69608167ef3b1a1f 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/hello-world/index.html
  blog/mashup-hackathon-email-breakthrough/index.html
  feed.xml
  notes/lessons-tools-uv-script-dependencies/index.html
  projects/activitywatch/index.html
  projects/gptme-agent-template/index.html
  projects/gptme/index.html
  projects/personal-website/index.html
  projects/thankful/index.html
Due: jekyll-build, build-css

feat(website): add comprehensive loading indicators and animations
  _layouts/default.pug
  about.pug
  assets/css/loading.css
  assets/css/main.css
  assets/js/loading.js
  index.pug
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@ca6e0491d7b4a43c9a3d78d4d106a3ca46986ec7 🚀
  about/index.html
  assets/css/loading.css
  assets/css/main.css
  assets/js/loading.js
  blog/hello-world/index.html
  blog/index.html
  blog/mashup-hackathon-email-breakthrough/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  notes/tasks-implement-rss-reader/index.html
  notes/tasks-improve-content-sync/index.html
  notes/tasks-move-email-system-to-gptme-contrib/index.html
  projects/activitywatch/index.html
  projects/gptme-agent-template/index.html
  projects/gptme/index.html
  projects/index.html
  projects/personal-website/index.html
  projects/thankful/index.html
Due: jekyll-build, build-css

feat(analytics): integrate Plausible Analytics tracking
  _layouts/default.pug
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@5ee4a56f4f3b3ae3c4f011b76ad6b0ba8f568efd 🚀
  feed.xml
Due: none

feat(a11y): implement progressive enhancement with noscript fallback
  _layouts/default.pug
  assets/css/noscript.css
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@9bdf8c24d9dfa3615595c25a8eafcfb01c00aaf8 🚀
  about/index.html
  assets/css/noscript.css
  blog/hello-world/index.html
  blog/index.html
  blog/mashup-hackathon-email-breakthrough/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  notes/tasks-implement-rss-reader/index.html
  notes/tasks-improve-content-sync/index.html
  notes/tasks-move-email-system-to-gptme-contrib/index.html
  projects/activitywatch/index.html
  projects/gptme-agent-template/index.html
  projects/gptme/index.html
  projects/index.html
  projects/personal-website/index.html
  projects/thankful/index.html
Due: jekyll-build, build-css

feat(blog): add systematic test failure analysis post
  _posts/2025-10-16-systematic-test-failure-analysis.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@0001827f649659e352b3e3802612b9ed51e3ae94 🚀
  blog/index.html
  blog/mashup-hackathon-email-breakthrough/index.html
  blog/systematic-test-failure-analysis/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: none

feat(website): integrate Twitter feed on homepage
  index.pug
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@daf42c8551ac895af13305bb4783421e3e1c2d21 🚀
  assets/css/main.css
  assets/css/styles.css
  feed.xml
  index.html
Due: jekyll-build, build-css

feat(design): implement Phases 1-3 of design update
  _layouts/default.pug
  assets/css/tailwind.css
  index.pug
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@fcf3d088aa828c4793fa1db758b6066656e94723 🚀
  about/index.html
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  blog/hello-world/index.html
  blog/index.html
  blog/mashup-hackathon-email-breakthrough/index.html
  blog/systematic-test-failure-analysis/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  notes/tasks-implement-rss-reader/index.html
  notes/tasks-improve-content-sync/index.html
  notes/tasks-move-email-system-to-gptme-contrib/index.html
  projects/activitywatch/index.html
  projects/gptme-agent-template/index.html
  projects/gptme/index.html
  projects/index.html
  projects/personal-website/index.html
  projects/thankful/index.html
Due: jekyll-build, build-css

feat(design): implement Bob's Builder Theme typography and components
  assets/css/tailwind.css
  tailwind.config.js
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@c288682f6516d3889931c122e2c61f3f17165442 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  feed.xml
  tailwind.config.js
Due: jekyll-build, build-css

fix(design): use bg-surface for header to support dark mode
  assets/css/tailwind.css
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@66d72b556f426d15b16a03eb54b8837e228b23c5 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  feed.xml
Due: jekyll-build, build-css

fix(design): hero text contrast and uppercase issues
  assets/css/tailwind.css
  index.pug
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@8a4204e43ce71f13836c03b6438f2cb1c0595efd 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  feed.xml
  index.html
Due: jekyll-build, build-css

feat(design): fix hero button contrast and compact layout
  assets/css/tailwind.css
  index.pug
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@e3fd26d5b6e511c24dc1bf17978391b406902488 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  feed.xml
  index.html
Due: jekyll-build, build-css

fix(design): add accent color and fix grid layout
  index.pug
  tailwind.config.js
Due: build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a415ad9cc671e7b2b207d2efff6836710b411f79 🚀
  assets/css/main.css
  assets/css/styles.css
  feed.xml
  index.html
  tailwind.config.js
Due: jekyll-build, build-css

build(deps): updated gemfile & package-lock
  Gemfile.lock
  package-lock.json
Due: jekyll-build

fix: misc changes
  _includes/card.pug
  gptme.toml
  scripts/precommit/check_pug_class_syntax.py
Due: jekyll-build
