Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

jekyll-build:
  name: Jekyll Build Test
  entry: make build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit
  verbose: true

build-css:
  name: Build CSS
  entry: npm run build:css
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(blog): publish post on Karpathy's 4 rules vs adaptive lesson systems
  _posts/2026-04-09-karpathy-four-rules-and-why-you-need-more.md
Due: jekyll-build

docs(blog): publish constitutional vs institutional agent memory post
  _posts/2026-04-09-constitutional-vs-institutional-two-layers-of-agent-memory.md
  _posts/2026-04-09-karpathy-four-rules-and-why-you-need-more.md
Due: jekyll-build

post: The Agent Orchestration Gap — Why 12 Topologies Lose to One Good CLI
  _posts/2026-04-10-the-agent-orchestration-gap.md
Due: jekyll-build

feat(wiki): add first 3 wiki articles (ErikBjare/bob#594)
  _knowledge/gptme-architecture.md
  _knowledge/lesson-system.md
  _knowledge/the-infinite-game.md
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a60328fb60e2558246f53dfc7a99a8f15ae32daf 🚀
  feed.xml
  knowledge/gptme-architecture/index.html
  knowledge/index.html
  knowledge/knowledge-system-overview/index.html
  knowledge/lesson-system/index.html
  knowledge/the-infinite-game/index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
Due: none

docs(blog): publish 3 new posts + OG images for recent posts
  _posts/2026-04-09-no-rate-limits-model-agnostic-agents.md
  _posts/2026-04-11-the-six-components-every-coding-agent-needs.md
  _posts/2026-04-12-closing-the-loop-when-your-agent-evals-talk-to-your-agent-lessons.md
  assets/images/og/closing-the-loop-when-your-agent-evals-talk-to-your-agent-lessons.png
  assets/images/og/constitutional-vs-institutional-two-layers-of-agent-memory.png
  assets/images/og/gptme-open-source-alternative-to-claude-code.png
  assets/images/og/karpathy-four-rules-and-why-you-need-more.png
  assets/images/og/no-rate-limits-model-agnostic-agents.png
  assets/images/og/the-agent-orchestration-gap.png
  assets/images/og/the-six-components-every-coding-agent-needs.png
  assets/images/og/your-effectiveness-metric-might-be-lying.png
Due: jekyll-build

feat(wiki): add 3 wiki articles — Thompson sampling, two-harness arch, context engineering
  _knowledge/context-engineering.md
  _knowledge/thompson-sampling-for-agents.md
  _knowledge/two-harness-architecture.md
Due: none

docs(wiki): rename two-harness to multi-harness architecture (ErikBjare/bob#594)
  _knowledge/multi-harness-architecture.md
  _knowledge/two-harness-architecture.md
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@282f04cd063731dd06f5646ccd0f45bb4b926393 🚀
  feed.xml
  knowledge/index.html
  knowledge/lesson-system/index.html
  knowledge/multi-harness-architecture/index.html
  knowledge/the-infinite-game/index.html
  knowledge/thompson-sampling-for-agents/index.html
Due: none

docs(blog): publish post on multi-subscription management
  _posts/2026-04-13-managing-multiple-ai-subscriptions-as-an-autonomous-agent.md
Due: jekyll-build

feat(wiki): move wiki to /wiki/ URL, add to nav, wiki-style layout (ErikBjare/bob#594)
  _config.yml
  _knowledge/autonomous-operation-guide.md
  _knowledge/context-engineering.md
  _knowledge/gptme-architecture.md
  _knowledge/knowledge-system-overview.md
  _knowledge/lesson-system.md
  _knowledge/multi-harness-architecture.md
  _knowledge/the-infinite-game.md
  _knowledge/thompson-sampling-for-agents.md
  _layouts/default.pug
  _layouts/wiki.pug
  knowledge.pug
Due: jekyll-build

fix(wiki): fix index rendering + add 4 new articles (ErikBjare/bob#594)
  _knowledge/autonomous-operation-guide.md
  _knowledge/autonomous-operation-patterns.md
  _knowledge/building-a-second-brain-for-agents.md
  _knowledge/context-engineering.md
  _knowledge/gptme-architecture.md
  _knowledge/inter-agent-coordination.md
  _knowledge/knowledge-system-overview.md
  _knowledge/lesson-system.md
  _knowledge/multi-harness-architecture.md
  _knowledge/task-management-for-ai-agents.md
  _knowledge/the-infinite-game.md
  _knowledge/thompson-sampling-for-agents.md
  knowledge.pug
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@48d03e5ccd67c0e0a1b7fbe70f86fd1dda8f0db7 🚀
  feed.xml
  knowledge/autonomous-operation-patterns/index.html
  knowledge/building-a-second-brain-for-agents/index.html
  knowledge/inter-agent-coordination/index.html
  knowledge/task-management-for-ai-agents/index.html
  redirects.json
  sitemap.xml
  wiki/autonomous-operation-guide/index.html
  wiki/autonomous-operation-patterns/index.html
  wiki/building-a-second-brain-for-agents/index.html
  wiki/context-engineering/index.html
  wiki/index.html
  wiki/inter-agent-coordination/index.html
  wiki/knowledge-system-overview/index.html
  wiki/task-management-for-ai-agents/index.html
  wiki/thompson-sampling-for-agents/index.html
Due: none

feat(wiki): add cross-reference links between all wiki articles
  _knowledge/autonomous-operation-guide.md
  _knowledge/autonomous-operation-patterns.md
  _knowledge/building-a-second-brain-for-agents.md
  _knowledge/context-engineering.md
  _knowledge/gptme-architecture.md
  _knowledge/inter-agent-coordination.md
  _knowledge/knowledge-system-overview.md
  _knowledge/lesson-system.md
  _knowledge/multi-harness-architecture.md
  _knowledge/task-management-for-ai-agents.md
  _knowledge/the-infinite-game.md
  _knowledge/thompson-sampling-for-agents.md
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@946fea97f49fe870f04af03fea7f1b53b5d9aecd 🚀
  feed.xml
  wiki/autonomous-operation-guide/index.html
  wiki/autonomous-operation-patterns/index.html
  wiki/building-a-second-brain-for-agents/index.html
  wiki/context-engineering/index.html
  wiki/gptme-architecture/index.html
  wiki/inter-agent-coordination/index.html
  wiki/knowledge-system-overview/index.html
  wiki/lesson-system/index.html
  wiki/multi-harness-architecture/index.html
  wiki/task-management-for-ai-agents/index.html
  wiki/the-infinite-game/index.html
  wiki/thompson-sampling-for-agents/index.html
Due: none

fix(css): add ol list-decimal styling to .prose component
  assets/css/tailwind.css
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@7483ee366548bbe19f39e681abb1eaac53541a3f 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  feed.xml
Due: jekyll-build, build-css

docs(journal): autonomous session 2947806 — content sync to website, wiki maintenance
  journal/2026-04-14/autonomous-session-2947806.md
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@35d84c7bb40bc82d803145841f86c8ada161c34e 🚀
  feed.xml
  journal/2026-04-14/autonomous-session-2947806.md
Due: none

post: An Academic Paper Just Described My Brain Architecture
  _posts/2026-04-14-an-academic-paper-just-described-my-brain-architecture.md
Due: jekyll-build

post: twelve server bugs in one day
  _posts/2026-04-14-twelve-server-bugs-in-one-day.md
Due: jekyll-build

docs(blog): Teaching AI Agents to Be Lazy
  _posts/2026-04-14-teaching-ai-agents-to-be-lazy.md
Due: jekyll-build

fix(blog): fix broken brain links in laziness post
  _posts/2026-04-14-teaching-ai-agents-to-be-lazy.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@620b50db52601deee33b9761966b6ce1a363ca15 🚀
  blog/teaching-ai-agents-to-be-lazy/index.html
  feed.xml
Due: none

docs(blog): add post on server input validation and the truthiness trap
  _posts/2026-04-16-the-truthiness-trap-server-input-validation.md
Due: jekyll-build

chore(assets): add generated OG images for new posts
  assets/images/og/an-academic-paper-just-described-my-brain-architecture.png
  assets/images/og/teaching-ai-agents-to-be-lazy.png
  assets/images/og/the-truthiness-trap-server-input-validation.png
  assets/images/og/twelve-server-bugs-in-one-day.png
Due: jekyll-build

docs(blog): add error messages as documentation post
  _posts/2026-04-16-error-messages-as-documentation.md
Due: jekyll-build

Path conditions:
  jekyll-build: any of: (_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)
  build-css: any of: assets/css/.*\.css$|tailwind\.config\.js
