Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

jekyll-build:
  name: Jekyll Build Test
  entry: make build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit
  verbose: true

build-css:
  name: Build CSS
  entry: npm run build:css
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(blog): publish local model routing post
  _posts/2026-07-21-local-models-do-not-need-to-win-every-task.md
  assets/images/og/local-models-do-not-need-to-win-every-task.png
Due: jekyll-build

docs(blog): sync subagent_steer() post + OG image
  _posts/2026-07-17-subagent-steer-in-flight-course-correction.md
  assets/images/og/subagent-steer-in-flight-course-correction.png
Due: jekyll-build

chore(demo): sync session-cost-dashboard (2026-07-21)
  demos/session-cost-dashboard.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@2da3a57e43da623ff7b0361becb9bf077bb01b8b 🚀
  demos/session-cost-dashboard.html
  feed.xml
Due: none

docs(blog): publish 'The 200 That Crashed Everything'
  _posts/2026-07-21-the-200-that-crashed-everything.md
  assets/images/og/the-200-that-crashed-everything.png
Due: jekyll-build

docs(blog): publish dead-backend dispatch post
  _posts/2026-07-22-the-dispatcher-used-a-dead-engine.md
  assets/images/og/the-dispatcher-used-a-dead-engine.png
Due: jekyll-build

docs(blog): publish infeasible exploration post
  _posts/2026-07-22-the-explorer-picked-an-ineligible-arm.md
  assets/images/og/the-explorer-picked-an-ineligible-arm.png
Due: jekyll-build

chore(demo): sync session-cost-dashboard (2026-07-22)
  demos/session-cost-dashboard.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@60d632d4696cd01378941272cedf70d4b7c32783 🚀
  demos/session-cost-dashboard.html
  feed.xml
Due: none

docs(blog): publish nine rewards four productive sessions
  _posts/2026-07-22-nine-rewards-four-productive-sessions.md
  assets/images/og/nine-rewards-four-productive-sessions.png
Due: jekyll-build

docs(blog): publish benchmark batch design
  _posts/2026-07-22-a-benchmark-batch-is-not-a-leaderboard.md
  assets/images/og/a-benchmark-batch-is-not-a-leaderboard.png
Due: jekyll-build

docs(blog): publish shared-worktree stash clobber
  _posts/2026-07-22-the-stash-was-the-other-agents-work.md
  assets/images/og/the-stash-was-the-other-agents-work.png
Due: jekyll-build

chore(demo): sync session-cost-dashboard (2026-07-23)
  demos/session-cost-dashboard.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@64f40a8e6661f302f8dc1c00b74c64e3e633662a 🚀
  demos/session-cost-dashboard.html
  feed.xml
  notes/index.html
Due: none

feat(blog): publish "The Experiment Flag Is Not the Experiment"
  _posts/2026-07-23-the-experiment-flag-is-not-the-experiment.md
  assets/images/og/the-experiment-flag-is-not-the-experiment.png
Due: jekyll-build

docs(blog): add build-to-the-gate post
  _posts/2026-07-23-build-to-the-gate.md
  assets/images/og/build-to-the-gate.png
Due: jekyll-build

docs(blog): prove the primitive not the product
  _posts/2026-07-23-crdt-before-the-problem.md
  assets/images/og/crdt-before-the-problem.png
Due: jekyll-build

revert(blog): remove duplicate build-to-the-gate post
  _posts/2026-07-23-build-to-the-gate.md
  assets/images/og/build-to-the-gate.png
Due: jekyll-build

docs(blog): publish two July 22 posts
  _posts/2026-07-22-the-safety-gate-wrote-to-a-filename-nobody-read.md
  _posts/2026-07-22-your-agents-memory-has-a-13x-write-loss-rate.md
  assets/images/og/the-safety-gate-wrote-to-a-filename-nobody-read.png
  assets/images/og/your-agents-memory-has-a-13x-write-loss-rate.png
Due: jekyll-build

chore(demo): sync session-cost-dashboard (2026-07-24)
  demos/session-cost-dashboard.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@4b50afdc61f0db0d3908c7a358bc08ecf1d367d7 🚀
  demos/session-cost-dashboard.html
  feed.xml
  notes/index.html
Due: none

docs(blog): italic CSS leaks into SVG exports post
  _posts/2026-07-24-tui-svg-italic-artifacts.md
  assets/images/og/tui-svg-italic-artifacts.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@90177c26b0a4015d22a8ee46340599fb00791bbb 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/images/og/tui-svg-italic-artifacts.png
  blog/index.html
  blog/the-experiment-flag-is-not-the-experiment/index.html
  blog/tui-svg-italic-artifacts/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build, build-css

docs(blog): sync post — Your Widget's Day Started at Midnight
  _posts/2026-07-24-your-widgets-day-started-at-midnight.md
  assets/images/og/your-widgets-day-started-at-midnight.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a91d23906ca5fa3ef9231a42db828e8c761f53ea 🚀
  assets/images/og/your-widgets-day-started-at-midnight.png
  blog/index.html
  blog/tui-svg-italic-artifacts/index.html
  blog/your-widgets-day-started-at-midnight/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): add post — Before You Build on That AI API, Check Their 10-K
  _posts/2026-07-24-ai-company-sec-filings-api-risk.md
  assets/images/og/ai-company-sec-filings-api-risk.png
Due: jekyll-build

Path conditions:
  jekyll-build: any of: (_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)
  build-css: any of: assets/css/.*\.css$|tailwind\.config\.js
