Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

jekyll-build:
  name: Jekyll Build Test
  entry: make build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit
  verbose: true

build-css:
  name: Build CSS
  entry: npm run build:css
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@d77fa92fcdbda744f73cbb71c7fc103e44b3a093 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/index.html
  feed.xml
  gptme.toml
  index.html
  notes/index.html
  projects/index.html
  scripts/precommit/check_pug_class_syntax.py
Due: jekyll-build, build-css

fix: improve styling
  _includes/card.pug
  _projects/personal-website.md
  assets/css/tailwind.css
  index.pug
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@cc59c88760ed33b1f4b7dcdcf09a9f2ac3fd3eda 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  blog/index.html
  feed.xml
  index.html
  notes/index.html
  projects/index.html
Due: jekyll-build, build-css

style: minor hero style improvements
  index.pug
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@da81c1639662daedad81681b32d247c91fa9a0a6 🚀
  assets/css/main.css
  assets/css/styles.css
  feed.xml
  index.html
Due: jekyll-build, build-css

fix(design): complete color system with secondary/accent orange
  Gemfile.lock
  _includes/card.pug
  _layouts/default.pug
  _projects/personal-website.md
  assets/css/tailwind.css
  gptme.toml
  index.pug
  package-lock.json
Due: jekyll-build, build-css

feat(blog): add two technical blog posts
  _posts/2025-10-22-lesson-system-architecture.md
  _posts/2025-10-22-trajectory-analysis-v2.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@b66be13c87993929ca9ab1ee85a33f1280dc91f3 🚀
  about/index.html
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  blog/hello-world/index.html
  blog/index.html
  blog/lesson-system-architecture/index.html
  blog/mashup-hackathon-email-breakthrough/index.html
  blog/systematic-test-failure-analysis/index.html
  blog/trajectory-analysis-v2/index.html
  feed.xml
  gptme.toml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  notes/tasks-implement-rss-reader/index.html
  notes/tasks-improve-content-sync/index.html
  notes/tasks-move-email-system-to-gptme-contrib/index.html
  projects/activitywatch/index.html
  projects/gptme-agent-template/index.html
  projects/gptme/index.html
  projects/index.html
  projects/personal-website/index.html
  projects/thankful/index.html
  sitemap.xml
Due: jekyll-build, build-css

feat(blog): add Security Review blog post
  _posts/2025-10-24-securing-gptme-infra.md
Due: jekyll-build

feat(blog): add Security Review blog post (#1)
  _posts/2025-10-24-securing-gptme-infra.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@f03dc85082ed142de147ee8c330dc2d42b2b3889 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/index.html
  blog/securing-gptme-infra/index.html
  blog/trajectory-analysis-v2/index.html
  feed.xml
  index.html
  sitemap.xml
Due: jekyll-build, build-css

content: add GEPA reasoning program and GTD methodology blog posts
  _posts/2025-10-24-gepa-reasoning-program-architecture.md
  _posts/2025-10-24-gtd-methodology-autonomous-agents.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@c752ad73d41b39c5aa16c81e5403731d2caa8877 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/gepa-reasoning-program-architecture/index.html
  blog/gtd-methodology-autonomous-agents/index.html
  blog/index.html
  blog/securing-gptme-infra/index.html
  blog/trajectory-analysis-v2/index.html
  feed.xml
  index.html
  sitemap.xml
Due: jekyll-build, build-css

fix: add missing YAML frontmatter to GEPA blog post
  _posts/2025-10-24-gepa-reasoning-program-architecture.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@bd0322bac36fb9be972713027fbdd30abe082d3f 🚀
  blog/gepa-reasoning-program-architecture/index.html
  blog/index.html
  blog/trajectory-analysis-v2/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
Due: none

docs(notes): update content sync task note
  _notes/tasks-improve-content-sync.md
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@e4cb83d6b220b95e2b030b6e1e2f1318ae856a02 🚀
  feed.xml
  notes/tasks-improve-content-sync/index.html
Due: none

docs(blog): add context reduction and security blog posts
  _posts/2025-10-24-context-reduction-patterns.md
  _posts/2025-10-24-securing-agent-infrastructure.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3ebff0cf28fe3ba04452a82ecd4b9588ae89ebfc 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/context-reduction-patterns/index.html
  blog/gepa-reasoning-program-architecture/index.html
  blog/index.html
  blog/securing-agent-infrastructure/index.html
  blog/securing-gptme-infra/index.html
  blog/trajectory-analysis-v2/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: jekyll-build, build-css

fix: fixed excessive padding in style and misindented code
  Gemfile.lock
  assets/css/tailwind.css
  index.pug
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@daf3a6abfd551caa46a5e2e8aa138655242e6735 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
Due: jekyll-build, build-css

fix: a bunch of style improvements
  _includes/card.pug
  _includes/social-share.pug
  _layouts/post.pug
  _layouts/task.pug
  _projects/personal-website.md
  assets/css/tailwind.css
  index.pug
  package-lock.json
  projects.pug
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@d686ff1cb507f2d6e8278cd07ba2c076ad03955f 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/css/tailwind.css
  blog/gepa-reasoning-program-architecture/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/lesson-system-architecture/index.html
  blog/mashup-hackathon-email-breakthrough/index.html
  blog/securing-gptme-infra/index.html
  blog/systematic-test-failure-analysis/index.html
  blog/trajectory-analysis-v2/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  notes/tasks-implement-rss-reader/index.html
  notes/tasks-improve-content-sync/index.html
  notes/tasks-move-email-system-to-gptme-contrib/index.html
  projects/activitywatch/index.html
  projects/gptme-agent-template/index.html
  projects/gptme/index.html
  projects/index.html
  projects/personal-website/index.html
  projects/thankful/index.html
Due: jekyll-build, build-css

docs(blog): sync posts with proper YAML frontmatter
  _posts/2024-11-29-hello-world.md
  _posts/2025-10-22-lesson-system-architecture.md
  _posts/2025-10-22-trajectory-analysis-v2.md
  _posts/2025-10-24-gepa-reasoning-program-architecture.md
  _posts/2025-10-24-gtd-methodology-autonomous-agents.md
  _posts/2025-10-24-securing-gptme-infra.md
  _posts/2025-10-27-cursor-rules-integration.md
  _posts/2025-10-28-eliminating-false-blockers.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@09223f856ca35f6a66082780139b8113d0f42d94 🚀
  blog/cursor-rules-integration/index.html
  blog/eliminating-false-blockers/index.html
  blog/gepa-reasoning-program-architecture/index.html
  blog/gtd-methodology-autonomous-agents/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/lesson-system-architecture/index.html
  blog/securing-gptme-infra/index.html
  blog/trajectory-analysis-v2/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: none

feat(jekyll): add default layouts for collections
  _config.yml
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@1b1411323ec320cbf3a3e7592d3fe91dcd73c89d 🚀
  blog/context-reduction-patterns/index.html
  blog/cursor-rules-integration/index.html
  blog/eliminating-false-blockers/index.html
  blog/gepa-reasoning-program-architecture/index.html
  blog/gtd-methodology-autonomous-agents/index.html
  blog/lesson-system-architecture/index.html
  blog/securing-agent-infrastructure/index.html
  blog/trajectory-analysis-v2/index.html
  feed.xml
Due: none

docs(blog): sync validation at scale post from brain repo
  _posts/2025-10-28-validating-task-selection-at-scale.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3dadf6ec6dc69c65d9f448b79a11e7d61ee43514 🚀
  blog/eliminating-false-blockers/index.html
  blog/index.html
  blog/validating-task-selection-at-scale/index.html
  feed.xml
  index.html
  sitemap.xml
Due: none

docs(blog): add gptme competitive analysis post
  _posts/2025-10-28-gptme-competitive-analysis-autonomous-capabilities.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@377f548ae5f2b2f7c6bde5adf055ce6190488f23 🚀
  blog/eliminating-false-blockers/index.html
  blog/gptme-competitive-analysis-autonomous-capabilities/index.html
  blog/index.html
  blog/validating-task-selection-at-scale/index.html
  feed.xml
  index.html
  sitemap.xml
Due: none

feat(analytics): enable Plausible Analytics
  _config.yml
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a9a609a7ea18e9c1140e424bcd3e87ff4786fe9c 🚀
  about/index.html
  blog/context-reduction-patterns/index.html
  blog/cursor-rules-integration/index.html
  blog/eliminating-false-blockers/index.html
  blog/gepa-reasoning-program-architecture/index.html
  blog/gptme-competitive-analysis-autonomous-capabilities/index.html
  blog/gtd-methodology-autonomous-agents/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/lesson-system-architecture/index.html
  blog/mashup-hackathon-email-breakthrough/index.html
  blog/securing-agent-infrastructure/index.html
  blog/securing-gptme-infra/index.html
  blog/systematic-test-failure-analysis/index.html
  blog/trajectory-analysis-v2/index.html
  blog/validating-task-selection-at-scale/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  notes/tasks-implement-rss-reader/index.html
  notes/tasks-improve-content-sync/index.html
  notes/tasks-move-email-system-to-gptme-contrib/index.html
  projects/activitywatch/index.html
  projects/gptme-agent-template/index.html
  projects/gptme/index.html
  projects/index.html
  projects/personal-website/index.html
  projects/thankful/index.html
Due: none

fix(blog): convert internal blog links to Jekyll format
  _notes/tasks-implement-rss-reader.md
  _notes/tasks-improve-content-sync.md
  _notes/tasks-move-email-system-to-gptme-contrib.md
  _posts/2025-10-24-context-reduction-patterns.md
  _posts/2025-10-24-securing-agent-infrastructure.md
  _posts/2025-10-28-eliminating-false-blockers.md
  _posts/2025-10-28-validating-task-selection-at-scale.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@77d0bfc4e3f534c1a76b42848ae0137a146e64bf 🚀
  blog/context-reduction-patterns/index.html
  blog/eliminating-false-blockers/index.html
  blog/securing-agent-infrastructure/index.html
  blog/validating-task-selection-at-scale/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  notes/tasks-implement-rss-reader/index.html
  notes/tasks-improve-content-sync/index.html
  notes/tasks-move-email-system-to-gptme-contrib/index.html
Due: none

feat(design): add Bob's profile picture as favicon
  _layouts/default.pug
  assets/images/android-chrome-192x192.png
  assets/images/android-chrome-512x512.png
  assets/images/apple-touch-icon.png
  favicon.ico
Due: jekyll-build

feat(ci): add markdown link format validation
  .pre-commit-config.yaml
  scripts/precommit/check_markdown_links.py
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@ebb895eeb8d75806f04f54e89d2010aae302b2b8 🚀
  about/index.html
  assets/images/android-chrome-192x192.png
  assets/images/android-chrome-512x512.png
  assets/images/apple-touch-icon.png
  blog/context-reduction-patterns/index.html
  blog/cursor-rules-integration/index.html
  blog/eliminating-false-blockers/index.html
  blog/gepa-reasoning-program-architecture/index.html
  blog/gptme-competitive-analysis-autonomous-capabilities/index.html
  blog/gtd-methodology-autonomous-agents/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/lesson-system-architecture/index.html
  blog/mashup-hackathon-email-breakthrough/index.html
  blog/securing-agent-infrastructure/index.html
  blog/securing-gptme-infra/index.html
  blog/systematic-test-failure-analysis/index.html
  blog/trajectory-analysis-v2/index.html
  blog/validating-task-selection-at-scale/index.html
  favicon.ico
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  notes/tasks-implement-rss-reader/index.html
  notes/tasks-improve-content-sync/index.html
  notes/tasks-move-email-system-to-gptme-contrib/index.html
  projects/activitywatch/index.html
  projects/gptme-agent-template/index.html
  projects/gptme/index.html
  projects/index.html
  projects/personal-website/index.html
  projects/thankful/index.html
  scripts/precommit/check_markdown_links.py
Due: jekyll-build

Path conditions:
  jekyll-build: any of: (_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)
  build-css: any of: assets/css/.*\.css$|tailwind\.config\.js
