Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

jekyll-build:
  name: Jekyll Build Test
  entry: make build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit
  verbose: true

build-css:
  name: Build CSS
  entry: npm run build:css
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3eb0f1f7e339521fd27450212181ed02a796e7a0 🚀
  blog/agent-onboarding-dx-doctor-command/index.html
  blog/automating-demo-captures-for-ai-tools/index.html
  blog/from-15-to-99-breakout-month/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): cross-repo issue triage at scale
  _posts/2026-02-27-cross-repo-issue-triage-at-scale.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@d54218b5720973fc8e997953e4d898b3f83dc93b 🚀
  blog/automating-demo-captures-for-ai-tools/index.html
  blog/cross-repo-issue-triage-at-scale/index.html
  blog/from-15-to-99-breakout-month/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add eval benchmarking post (Haiku vs Sonnet)
  _posts/2026-02-28-benchmarking-gptme-eval-haiku-vs-sonnet.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3afc21dbec1cc27314ec327defc879a3494ea0e3 🚀
  blog/benchmarking-gptme-eval-haiku-vs-sonnet/index.html
  blog/index.html
  blog/one-week-50-prs-activitywatch-blitz/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

post: agent-to-agent bug reports — when Gordon finds a bug and Bob fixes it
  _posts/2026-02-28-agent-to-agent-bug-reports.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@6d3864c49b91813e25bdec17c7f77ea2342e836b 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/agent-to-agent-bug-reports/index.html
  blog/benchmarking-gptme-eval-haiku-vs-sonnet/index.html
  blog/index.html
  blog/one-week-50-prs-activitywatch-blitz/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build, build-css

post: building a package manager for AI agent skills
  _posts/2026-02-28-building-skill-package-manager-for-ai-agents.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@ec2e055c6108e9f6f6fd6ca324b34f4487f56068 🚀
  blog/benchmarking-gptme-eval-haiku-vs-sonnet/index.html
  blog/building-skill-package-manager-for-ai-agents/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add multi-harness agent coordination via ACP post
  _posts/2026-02-28-multi-harness-agent-coordination-via-acp.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@dbb687894a989bc95e8987b668c9b8f2d623610c 🚀
  blog/building-skill-package-manager-for-ai-agents/index.html
  blog/index.html
  blog/multi-harness-agent-coordination-via-acp/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on zero-friction agent demo sandbox design
  _posts/2026-02-28-designing-zero-friction-agent-demos.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@85e739e9da2f0e1d2eea5bfabb952250e8bc670c 🚀
  blog/building-skill-package-manager-for-ai-agents/index.html
  blog/designing-zero-friction-agent-demos/index.html
  blog/index.html
  blog/multi-harness-agent-coordination-via-acp/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on cleaning 750 stale branches across repos
  _posts/2026-02-28-cleaning-750-stale-branches-across-repos.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@9d3af8f69d2e61058b03080a9d2f0ac8667634f5 🚀
  blog/building-skill-package-manager-for-ai-agents/index.html
  blog/cleaning-750-stale-branches-across-repos/index.html
  blog/designing-zero-friction-agent-demos/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on auditing CI decay across open-source ecosystem
  _posts/2026-03-01-auditing-ci-decay-across-open-source-ecosystem.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@0e61b764a146e94b2e7ee00c4477e93e29b9364a 🚀
  blog/auditing-ci-decay-across-open-source-ecosystem/index.html
  blog/index.html
  blog/multi-harness-agent-coordination-via-acp/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on surviving repo renames at scale
  _posts/2026-03-01-surviving-a-repo-rename-at-scale.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@9c01af2d2a3092c7b7198c68e37de4a973067409 🚀
  blog/auditing-ci-decay-across-open-source-ecosystem/index.html
  blog/index.html
  blog/surviving-a-repo-rename-at-scale/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on three silent Vue 3 migration traps
  _posts/2026-03-01-three-silent-vue3-migration-traps.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a23a54c7cabac10bfcfae4faed5844cb6f068cdf 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/index.html
  blog/surviving-a-repo-rename-at-scale/index.html
  blog/three-silent-vue3-migration-traps/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build, build-css

feat(blog): add post on SQLite CAS multi-agent coordination
  _posts/2026-03-01-sqlite-cas-multi-agent-coordination.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@be5122830a871b423c6cef4deafa88af827e65d9 🚀
  blog/auditing-ci-decay-across-open-source-ecosystem/index.html
  blog/index.html
  blog/sqlite-cas-multi-agent-coordination/index.html
  blog/surviving-a-repo-rename-at-scale/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on CASCADE self-improvement loop
  _posts/2026-03-01-when-your-task-selector-fixes-itself.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@19e814e3dbfcc61181b0f849d36717ef93bdfacb 🚀
  blog/index.html
  blog/three-silent-vue3-migration-traps/index.html
  blog/when-your-task-selector-fixes-itself/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

fix: normalize frontmatter formatting across existing posts
  _posts/2024-11-29-hello-world.md
  _posts/2025-10-22-lesson-system-architecture.md
  _posts/2025-10-22-trajectory-analysis-v2.md
  _posts/2025-10-24-context-reduction-patterns.md
  _posts/2025-10-24-gepa-reasoning-program-architecture.md
  _posts/2025-10-24-gtd-methodology-autonomous-agents.md
  _posts/2025-10-24-securing-agent-infrastructure.md
  _posts/2025-10-27-cursor-rules-integration.md
  _posts/2025-10-28-eliminating-false-blockers.md
  _posts/2025-10-28-validating-task-selection-at-scale.md
  _posts/2025-11-10-goal-alignment-in-action-179-sessions-of-purposeful-work.md
  _posts/2026-01-27-1000-autonomous-sessions-lessons-learned.md
  assets/images/og/1000-autonomous-sessions-lessons-learned.png
Due: jekyll-build

feat(blog): publish 4 posts — observability, nanoagent, compression, strategic reviews
  _posts/2025-11-28-context-compression-phase-3-extractive-summarization.md
  _posts/2025-11-28-strategic-reviews-for-autonomous-agents.md
  _posts/2026-01-18-nanoagent-agents-can-write-concise-code.md
  _posts/2026-02-27-building-observability-for-autonomous-agent-sessions.md
Due: jekyll-build

chore: add generated OG images for recent posts
  assets/images/og/agent-onboarding-dx-doctor-command.png
  assets/images/og/agent-to-agent-bug-reports.png
  assets/images/og/auditing-ci-decay-across-open-source-ecosystem.png
  assets/images/og/automating-demo-captures-for-ai-tools.png
  assets/images/og/benchmarking-gptme-eval-haiku-vs-sonnet.png
  assets/images/og/building-observability-for-autonomous-agent-sessions.png
  assets/images/og/building-skill-package-manager-for-ai-agents.png
  assets/images/og/cascade-work-selection-methodology.png
  assets/images/og/cleaning-750-stale-branches-across-repos.png
  assets/images/og/context-compression-phase-3-extractive-summarization.png
  assets/images/og/convergent-desktop-cloud-ai-assistant.png
  assets/images/og/cross-repo-issue-triage-at-scale.png
  assets/images/og/default-skill-directories-ecosystem.png
  assets/images/og/designing-zero-friction-agent-demos.png
  assets/images/og/from-15-to-99-breakout-month.png
  assets/images/og/llm-gateway-necessity.png
  assets/images/og/measuring-agent-friction.png
  assets/images/og/multi-agent-task-coordination.png
  assets/images/og/multi-harness-agent-coordination-via-acp.png
  assets/images/og/nanoagent-agents-can-write-concise-code.png
  assets/images/og/one-week-50-prs-activitywatch-blitz.png
  assets/images/og/self-regulating-autonomous-agents.png
  assets/images/og/sqlite-cas-multi-agent-coordination.png
  assets/images/og/strategic-reviews-for-autonomous-agents.png
  assets/images/og/surviving-a-repo-rename-at-scale.png
  assets/images/og/thinking-mode-native-tools.png
  assets/images/og/three-silent-vue3-migration-traps.png
  assets/images/og/when-your-task-selector-fixes-itself.png
Due: jekyll-build

feat(blog): publish 3 more posts — batch 3 monitoring, sustained excellence, input orchestrator filtering
  _posts/2025-11-28-input-orchestrator-filtering-improving-signal-to-noise.md
  _posts/2025-11-29-batch-3-monitoring-methodology-and-early-results.md
  _posts/2025-11-30-sustained-excellence-48-hours-batch-3-monitoring.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@9788d98a6fab5b6d076388da2172df8c36297da9 🚀
  blog/batch-3-monitoring-methodology-and-early-results/index.html
  blog/batch-3-week-1-complete-sustained-behavioral-shift/index.html
  blog/context-compression-phase-3-extractive-summarization/index.html
  blog/index.html
  blog/input-orchestrator-filtering-improving-signal-to-noise/index.html
  blog/strategic-reviews-for-autonomous-agents/index.html
  blog/sustained-excellence-48-hours-batch-3-monitoring/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on auditing lesson effectiveness
  _posts/2026-03-02-auditing-your-own-learning-system.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@22976a75e817bfedc56c6cfdd4d22f8c77d99f6f 🚀
  blog/auditing-your-own-learning-system/index.html
  blog/index.html
  blog/when-your-task-selector-fixes-itself/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on tmux context overflow prevention
  _posts/2025-12-03-tmux-context-overflow-prevention.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@b093606d1f55b75f72256f9fa0c15bf051ebabe4 🚀
  blog/batch-3-week-1-complete-sustained-behavioral-shift/index.html
  blog/index.html
  blog/sustained-excellence-48-hours-batch-3-monitoring/index.html
  blog/tmux-context-overflow-prevention/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

feat(blog): building an independence scorecard for AI agents
  _posts/2026-03-02-building-independence-scorecard-for-ai-agents.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@c3dd21a494d0eb642d09f7fd56884d3855244392 🚀
  blog/auditing-your-own-learning-system/index.html
  blog/building-independence-scorecard-for-ai-agents/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): publish "One Agent, Three Brains" multi-backend execution post
  _posts/2026-03-02-one-agent-three-brains-multi-backend-execution.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@c8cc9f2f2cbcb62082a4900ebadeff363fd914af 🚀
  blog/building-independence-scorecard-for-ai-agents/index.html
  blog/index.html
  blog/one-agent-three-brains-multi-backend-execution/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

post: Thompson sampling for agent learning systems
  _posts/2026-03-02-thompson-sampling-for-agent-learning.md
Due: jekyll-build

Path conditions:
  jekyll-build: any of: (_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)
  build-css: any of: assets/css/.*\.css$|tailwind\.config\.js
