Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

jekyll-build:
  name: Jekyll Build Test
  entry: make build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit
  verbose: true

build-css:
  name: Build CSS
  entry: npm run build:css
  language: system
  pass_filenames: false
  stages:
  - pre-commit

improve(blog): redesign post nav, tags, and dynamic age stats
  _includes/hero.pug
  _includes/metadata.pug
  _layouts/post.pug
  about.pug
  assets/css/tailwind.css
  assets/js/loading.js
  index.pug
Due: jekyll-build, build-css

improve(blog): add Browse by tag link to blog hero
  blog.pug
Due: none

improve(tags): sort tag cloud by count, most-used first
  tags.pug
Due: none

fix(tags): use case-insensitive sort for tag sections
  tags.pug
Due: none

fix(tags): normalize GEPA and DSPy tags to lowercase
  _posts/2025-10-24-gepa-reasoning-program-architecture.md
Due: jekyll-build

Revert "fix(tags): normalize GEPA and DSPy tags to lowercase"
  _posts/2025-10-24-gepa-reasoning-program-architecture.md
Due: jekyll-build

fix(tags): case-insensitive tag dedup and matching
  tags.pug
Due: none

docs: add comments explaining non-obvious template decisions
  _includes/hero.pug
  _includes/metadata.pug
  _layouts/post.pug
  assets/js/loading.js
  tags.pug
Due: jekyll-build

improve: website design - nav icon, table styling, projects (#11)
  _includes/card.pug
  _includes/hero.pug
  _includes/metadata.pug
  _layouts/default.pug
  _layouts/post.pug
  _posts/2026-02-17-managing-agent-infrastructure-27-services.md
  _projects/gptmail.md
  _projects/gptme-agent-template.md
  _projects/gptme-contrib.md
  _projects/gptme-voice.md
  _projects/gptodo.md
  about.pug
  assets/css/loading.css
  assets/css/tailwind.css
  assets/js/loading.js
  blog.pug
  index.pug
  projects.pug
  tags.pug
Due: jekyll-build, build-css

feat: update favicon and touch icons with Bob's avatar
  assets/images/android-chrome-192x192.png
  assets/images/android-chrome-512x512.png
  assets/images/apple-touch-icon.png
  favicon.ico
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@474d20a69ec0ab191e3978efd8a3b8064c5336fe 🚀
  assets/images/android-chrome-192x192.png
  assets/images/android-chrome-512x512.png
  assets/images/apple-touch-icon.png
  favicon.ico
  feed.xml
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
Due: jekyll-build

post: Finding a Data Loss Bug Through Systematic Code Review
  _posts/2026-02-21-finding-data-loss-bugs-through-code-review.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@867c3f7cdd7b308eb42369d504c4cf4c2d99ba60 🚀
  blog/building-multi-agent-coordination-with-sqlite/index.html
  blog/finding-data-loss-bugs-through-code-review/index.html
  blog/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

fix: remove og-images from build chain (CI lacks uv)
  Makefile
Due: none

post: The Convergent App — local + cloud AI assistant architecture
  _posts/2026-02-26-convergent-desktop-cloud-ai-assistant.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@27b9320ccf301c75059e75f66bfa0dce192e2d3a 🚀
  blog/convergent-desktop-cloud-ai-assistant/index.html
  blog/finding-data-loss-bugs-through-code-review/index.html
  blog/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

post: Self-Regulating Autonomous Agents — adaptive scheduling under quota constraints
  _posts/2026-02-26-self-regulating-autonomous-agents.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@5157b8cda8db4deeac763ab3fcabf8640f6764a7 🚀
  blog/convergent-desktop-cloud-ai-assistant/index.html
  blog/index.html
  blog/self-regulating-autonomous-agents/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

blog: publish 4 posts from early February drafts
  _posts/2026-02-03-cascade-work-selection-methodology.md
  _posts/2026-02-03-default-skill-directories-ecosystem.md
  _posts/2026-02-03-multi-agent-task-coordination.md
  _posts/2026-02-04-llm-gateway-necessity.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@694905b8aa90a1116db96b43d9dc1cd54a4d7cf4 🚀
  blog/automated-code-review-workflow/index.html
  blog/autonomous-pr-monitoring/index.html
  blog/cascade-work-selection-methodology/index.html
  blog/context-engineering-at-200k/index.html
  blog/default-skill-directories-ecosystem/index.html
  blog/index.html
  blog/llm-gateway-necessity/index.html
  blog/multi-agent-task-coordination/index.html
  feed.xml
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

post: Thinking Mode With Native Tool Calling — combining reasoning + tools in gptme
  _posts/2026-02-03-thinking-mode-native-tools.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@496bf47d7569969255a6ae48654d3299a9828358 🚀
  blog/index.html
  blog/llm-gateway-necessity/index.html
  blog/multi-agent-task-coordination/index.html
  blog/thinking-mode-native-tools/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

blog: agent onboarding DX - building a doctor command for AI workspace health
  _posts/2026-02-27-agent-onboarding-dx-doctor-command.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a70a8e904da133db4871b63e47dad0b6e8b45e75 🚀
  blog/agent-onboarding-dx-doctor-command/index.html
  blog/index.html
  blog/self-regulating-autonomous-agents/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): publish February 2026 breakout month retrospective
  _posts/2026-02-27-from-15-to-99-breakout-month.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@0cc2130ee904256f1082ac8cfb6738be481df1a9 🚀
  blog/agent-onboarding-dx-doctor-command/index.html
  blog/from-15-to-99-breakout-month/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post about ActivityWatch 50-PR contribution blitz
  _posts/2026-02-27-one-week-50-prs-activitywatch-blitz.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@bba79168909a673b8fdcb53d571a2e481e96df92 🚀
  blog/from-15-to-99-breakout-month/index.html
  blog/index.html
  blog/one-week-50-prs-activitywatch-blitz/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on measuring agent friction
  _posts/2026-02-27-measuring-agent-friction.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3c4b571af52956049c0aa668a112420b1cea596e 🚀
  blog/from-15-to-99-breakout-month/index.html
  blog/index.html
  blog/measuring-agent-friction/index.html
  blog/one-week-50-prs-activitywatch-blitz/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on automating demo captures for AI tools
  _posts/2026-02-27-automating-demo-captures-for-ai-tools.md
Due: jekyll-build

Path conditions:
  jekyll-build: any of: (_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)
  build-css: any of: assets/css/.*\.css$|tailwind\.config\.js
