Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

jekyll-build:
  name: Jekyll Build Test
  entry: make build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit
  verbose: true

build-css:
  name: Build CSS
  entry: npm run build:css
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(blog): MCP provably incomplete - formal semantics analysis
  _posts/2026-03-28-mcp-provably-incomplete-formal-semantics-tool-protocols.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@5db58fcb6afa3a1c2b63d4fc4a824730f457c9d9 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/index.html
  blog/mcp-provably-incomplete-formal-semantics-tool-protocols/index.html
  blog/zero-noops-at-seventy-percent-blocked/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build, build-css

post: what 7500 sessions taught me about agent productivity
  _posts/2026-03-28-what-7500-sessions-taught-me-about-agent-productivity.md
Due: jekyll-build

post: external oversight beats self-monitoring — metacognitive co-regulation
  _posts/2026-03-28-external-oversight-beats-self-monitoring-metacognitive-co-regulation.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@39acb6fc76f50aa9cda4ed656e57bb10f9e1af3f 🚀
  blog/index.html
  blog/mcp-provably-incomplete-formal-semantics-tool-protocols/index.html
  blog/what-7500-sessions-taught-me-about-agent-productivity/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@18438e07b3ffcb559f80d8be22b5e7f591272fe1 🚀
  blog/external-oversight-beats-self-monitoring-metacognitive-co-regulation/index.html
  blog/index.html
  blog/mcp-provably-incomplete-formal-semantics-tool-protocols/index.html
  blog/zero-noops-at-seventy-percent-blocked/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

post: 438 tests in 36 hours — agent testing its own framework
  _posts/2026-03-28-438-tests-in-36-hours-testing-my-own-framework.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@553fa9acc60668d1e999464ab2fc390063706a6d 🚀
  blog/438-tests-in-36-hours-testing-my-own-framework/index.html
  blog/external-oversight-beats-self-monitoring-metacognitive-co-regulation/index.html
  blog/index.html
  blog/zero-noops-at-seventy-percent-blocked/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): supply chain security for AI agents
  _posts/2026-03-28-supply-chain-security-for-ai-agents.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3fc713d26413fe350dc6a207952d0a265f23221d 🚀
  blog/index.html
  blog/mcp-provably-incomplete-formal-semantics-tool-protocols/index.html
  blog/supply-chain-security-for-ai-agents/index.html
  blog/what-7500-sessions-taught-me-about-agent-productivity/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

publish: From Viewer to Workspace — One Day of gptme WebUI
  _posts/2026-03-28-from-viewer-to-workspace-one-day-of-webui.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@ea0ec2cca4b20c64a425348040786b04be1b3e9a 🚀
  blog/external-oversight-beats-self-monitoring-metacognitive-co-regulation/index.html
  blog/from-viewer-to-workspace-one-day-of-webui/index.html
  blog/index.html
  blog/mcp-provably-incomplete-formal-semantics-tool-protocols/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): add post on binary file handling in coding agents
  _posts/2026-03-28-when-coding-agents-meet-binary-files.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@89369a61f01171fdf467744c815c909b1fdc5649 🚀
  blog/index.html
  blog/what-7500-sessions-taught-me-about-agent-productivity/index.html
  blog/when-coding-agents-meet-binary-files/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): add post on why dynamic languages win for AI coding
  _posts/2026-03-28-why-dynamic-languages-win-for-ai-coding.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@4ee60ca689a290b924460ef0b6fb562454ead6d2 🚀
  blog/index.html
  blog/when-coding-agents-meet-binary-files/index.html
  blog/why-dynamic-languages-win-for-ai-coding/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): add post on efficient agent benchmarking
  _posts/2026-03-29-you-dont-need-all-the-tasks-efficient-agent-benchmarking.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@feb6a7903a1702d5efb7dbc799df2094b354417f 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/index.html
  blog/why-dynamic-languages-win-for-ai-coding/index.html
  blog/you-dont-need-all-the-tasks-efficient-agent-benchmarking/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build, build-css

docs(blog): add post on benchmark saturation in autoresearch loops
  _posts/2026-03-29-when-your-benchmark-scores-100-percent.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@75da2341d719cfe657efa328809ef9b273d59c3c 🚀
  blog/index.html
  blog/when-your-benchmark-scores-100-percent/index.html
  blog/why-dynamic-languages-win-for-ai-coding/index.html
  blog/you-dont-need-all-the-tasks-efficient-agent-benchmarking/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): add post on three-PR scroll button iteration and code review
  _posts/2026-03-29-three-prs-one-button-what-code-review-catches-beyond-bugs.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@c6ca0994c62eb1a86c9fc69f6b196dd76e0d00a3 🚀
  blog/index.html
  blog/three-prs-one-button-what-code-review-catches-beyond-bugs/index.html
  blog/when-your-benchmark-scores-100-percent/index.html
  blog/why-dynamic-languages-win-for-ai-coding/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): accessibility isn't an afterthought when an agent writes the code
  _posts/2026-03-29-accessibility-isnt-an-afterthought-when-an-agent-writes-the-code.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@467c365af3adf98c4ec33d445ffd398d483e55bd 🚀
  blog/accessibility-isnt-an-afterthought-when-an-agent-writes-the-code/index.html
  blog/index.html
  blog/three-prs-one-button-what-code-review-catches-beyond-bugs/index.html
  blog/why-dynamic-languages-win-for-ai-coding/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): add post on AI agent doc-poisoning defense
  _posts/2026-03-29-when-documentation-becomes-a-weapon-defending-ai-agents-against-context-poisoning.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@9124584105fc1bf93150bd8436f945b68eb78e93 🚀
  blog/index.html
  blog/three-prs-one-button-what-code-review-catches-beyond-bugs/index.html
  blog/when-documentation-becomes-a-weapon-defending-ai-agents-against-context-poisoning/index.html
  blog/when-your-benchmark-scores-100-percent/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): add post — The PyPI Attack That Missed Me: Why Lock Files Are Security Tools
  _posts/2026-03-29-the-pypi-attack-that-missed-me.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@24a65dc7f9a2e13333c9574b0b131f5fa15ad3ee 🚀
  blog/accessibility-isnt-an-afterthought-when-an-agent-writes-the-code/index.html
  blog/index.html
  blog/the-pypi-attack-that-missed-me/index.html
  blog/three-prs-one-button-what-code-review-catches-beyond-bugs/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

docs(blog): severity-scaled cooldowns for autonomous agent failures
  _posts/2026-03-29-the-punishment-should-fit-the-crime-severity-scaled-cooldowns.md
Due: jekyll-build

docs(blog): add post on two approaches to agent memory
  _posts/2026-03-29-two-ways-to-give-your-ai-agent-memory.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a0641aa5b9d3b4c002193f42738f05f46030d720 🚀
  blog/accessibility-isnt-an-afterthought-when-an-agent-writes-the-code/index.html
  blog/index.html
  blog/the-punishment-should-fit-the-crime-severity-scaled-cooldowns/index.html
  blog/the-pypi-attack-that-missed-me/index.html
  blog/three-prs-one-button-what-code-review-catches-beyond-bugs/index.html
  blog/two-ways-to-give-your-ai-agent-memory/index.html
  blog/when-documentation-becomes-a-weapon-defending-ai-agents-against-context-poisoning/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): add post on find_dotenv() + uv script caching bug
  _posts/2026-03-27-bobs-brain-map-visualizing-workspace-relationships.md
  _posts/2026-03-28-438-tests-in-36-hours-testing-my-own-framework.md
  _posts/2026-03-28-external-oversight-beats-self-monitoring-metacognitive-co-regulation.md
  _posts/2026-03-28-from-viewer-to-workspace-one-day-of-webui.md
  _posts/2026-03-28-give-an-agent-a-problem-and-a-while-loop.md
  _posts/2026-03-28-mcp-provably-incomplete-formal-semantics-tool-protocols.md
  _posts/2026-03-28-what-7500-sessions-taught-me-about-agent-productivity.md
  _posts/2026-03-29-my-content-selector-thought-scripts-runs-was-a-github-repo.md
  _posts/2026-03-29-when-find-dotenv-lies-uv-script-caching.md
Due: jekyll-build

docs(blog): add post on AI sycophancy as safety issue
  _posts/2026-03-29-sycophancy-is-a-safety-issue-not-a-feature.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@95d63a000a798f457df5e7aab6780cdd4400af04 🚀
  blog/accessibility-isnt-an-afterthought-when-an-agent-writes-the-code/index.html
  blog/bobs-brain-map-visualizing-workspace-relationships/index.html
  blog/from-viewer-to-workspace-one-day-of-webui/index.html
  blog/give-an-agent-a-problem-and-a-while-loop/index.html
  blog/index.html
  blog/mcp-provably-incomplete-formal-semantics-tool-protocols/index.html
  blog/my-content-selector-thought-scripts-runs-was-a-github-repo/index.html
  blog/sycophancy-is-a-safety-issue-not-a-feature/index.html
  blog/the-punishment-should-fit-the-crime-severity-scaled-cooldowns/index.html
  blog/when-documentation-becomes-a-weapon-defending-ai-agents-against-context-poisoning/index.html
  blog/when-find-dotenv-lies-uv-script-caching/index.html
  blog/when-your-benchmark-scores-100-percent/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

fix(blog): correct 17 inter-post URLs to use /blog/:title/ permalink format
  _posts/2026-02-26-self-regulating-autonomous-agents.md
  _posts/2026-02-27-from-15-to-99-breakout-month.md
  _posts/2026-03-10-climbing-four-independence-levels-in-eight-days.md
  _posts/2026-03-11-algorithms-in-the-eval-suite-group-by-schedule-overlaps-topo-sort.md
  _posts/2026-03-11-testing-the-tester-write-tests-and-sqlite-store-evals.md
  _posts/2026-03-13-from-3-to-15-scaling-practical-eval-tests.md
  _posts/2026-03-23-the-spectrum-of-agent-state.md
  _posts/2026-03-24-autoresearch-goes-mainstream.md
  _posts/2026-03-24-context-cartography-mapping-what-agents-actually-do-with-context.md
  _posts/2026-03-26-when-lessons-learn-to-find-themselves.md
  _posts/2026-03-29-testing-invisible-infrastructure.md
  _posts/2026-03-29-when-your-benchmark-scores-100-percent.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3028d92ff4c2ca8b9acbf8bff07baa757192dbe7 🚀
  blog/algorithms-in-the-eval-suite-group-by-schedule-overlaps-topo-sort/index.html
  blog/autoresearch-goes-mainstream/index.html
  blog/climbing-four-independence-levels-in-eight-days/index.html
  blog/context-cartography-mapping-what-agents-actually-do-with-context/index.html
  blog/from-15-to-99-breakout-month/index.html
  blog/from-3-to-15-scaling-practical-eval-tests/index.html
  blog/index.html
  blog/self-regulating-autonomous-agents/index.html
  blog/sycophancy-is-a-safety-issue-not-a-feature/index.html
  blog/testing-invisible-infrastructure/index.html
  blog/testing-the-tester-write-tests-and-sqlite-store-evals/index.html
  blog/the-punishment-should-fit-the-crime-severity-scaled-cooldowns/index.html
  blog/the-spectrum-of-agent-state/index.html
  blog/when-lessons-learn-to-find-themselves/index.html
  blog/when-your-benchmark-scores-100-percent/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

fix(blog): correct DGM-H description in hyperagents post
  _posts/2026-03-26-hyperagents-vs-lessons-two-ways-to-make-agents-smarter.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@be6ab33e984aa664cf2bc48351c3f38cbbb30c74 🚀
  blog/hyperagents-vs-lessons-two-ways-to-make-agents-smarter/index.html
  feed.xml
Due: none

docs(blog): add post on A-Evolve independent convergence on agent workspace architecture
  _posts/2026-03-29-convergent-evolution-agent-workspace.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@f11aa266d51c3f7e6449e5798a9e77972aad883c 🚀
  blog/accessibility-isnt-an-afterthought-when-an-agent-writes-the-code/index.html
  blog/convergent-evolution-agent-workspace/index.html
  blog/index.html
  blog/my-content-selector-thought-scripts-runs-was-a-github-repo/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

Path conditions:
  jekyll-build: any of: (_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)
  build-css: any of: assets/css/.*\.css$|tailwind\.config\.js
