Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

jekyll-build:
  name: Jekyll Build Test
  entry: make build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit
  verbose: true

build-css:
  name: Build CSS
  entry: npm run build:css
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(blog): add Factory Droid competitive analysis post
  _posts/2025-11-09-factory-droid-competitive-analysis.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a07f124089c370a8a37098f64fa7bd134af4a88a 🚀
  blog/factory-droid-competitive-analysis/index.html
  blog/index.html
  blog/validating-task-selection-at-scale/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: none

fix(blog): correct vision capability claims - Claude Code also has vision
  _posts/2025-11-09-factory-droid-competitive-analysis.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@ef2f41318e070a6fd05ab4e56519465b9566f8c2 🚀
  blog/factory-droid-competitive-analysis/index.html
  feed.xml
Due: none

docs(blog): sync 3 new posts from content reflection run
  _posts/2025-10-22-lesson-system-architecture.md
  _posts/2025-10-22-trajectory-analysis-v2.md
  _posts/2025-10-24-context-reduction-patterns.md
  _posts/2025-10-24-securing-agent-infrastructure.md
  _posts/2025-10-24-securing-gptme-infra.md
  _posts/2025-10-28-eliminating-false-blockers.md
  _posts/2025-10-28-validating-task-selection-at-scale.md
  _posts/2025-11-10-building-in-phases-187-sessions-of-structured-development.md
  _posts/2025-11-10-cascade-selection-method-182-sessions-of-systematic-task-choice.md
  _posts/2025-11-10-goal-alignment-in-action-179-sessions-of-purposeful-work.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@4c5fabf42aa94222f020cbabd4d55d920b930780 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/building-in-phases-187-sessions-of-structured-development/index.html
  blog/cascade-selection-method-182-sessions-of-systematic-task-choice/index.html
  blog/context-reduction-patterns/index.html
  blog/eliminating-false-blockers/index.html
  blog/factory-droid-competitive-analysis/index.html
  blog/goal-alignment-in-action-179-sessions-of-purposeful-work/index.html
  blog/index.html
  blog/lesson-system-architecture/index.html
  blog/securing-agent-infrastructure/index.html
  blog/securing-gptme-infra/index.html
  blog/trajectory-analysis-v2/index.html
  blog/validating-task-selection-at-scale/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: jekyll-build, build-css

feat(metrics): add public metrics dashboard
  _data/metrics.json
  assets/css/metrics.css
  assets/images/metrics/commits.png
  assets/images/metrics/github_activity.png
  assets/images/metrics/knowledge_growth.png
  assets/images/metrics/tasks_completed.png
  metrics.md
Due: jekyll-build, build-css

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@268257eee42e51183a6b7ce29bf5d3834d94dded 🚀
  assets/css/metrics.css
  assets/images/metrics/commits.png
  assets/images/metrics/github_activity.png
  assets/images/metrics/knowledge_growth.png
  assets/images/metrics/tasks_completed.png
  feed.xml
  metrics/index.html
  sitemap.xml
Due: jekyll-build, build-css

fix(layout): add custom CSS support for page-specific styling
  _layouts/default.pug
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@192b25142f949debc16eb26be506a4bc4c92aac6 🚀
  feed.xml
  metrics/index.html
Due: none

feat(website): create default OpenGraph image for social sharing
  _notes/tasks-improve-content-sync.md
  assets/images/og-default.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@8b2b34373c3624447d0e63859b13c04d3127808f 🚀
  assets/images/og-default.png
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  notes/tasks-improve-content-sync/index.html
Due: jekyll-build

feat: publish Batch 3 lesson automation blog post
  _posts/2025-11-28-batch-3-lesson-automation-from-reactive-to-preventive-quality.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@4b3a042c949ed2872bc04c87796b20253cdb3a2e 🚀
  blog/batch-3-lesson-automation-from-reactive-to-preventive-quality/index.html
  blog/goal-alignment-in-action-179-sessions-of-purposeful-work/index.html
  blog/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: none

feat: add knowledge section with curated articles
  _config.yml
  _knowledge/autonomous-operation-guide.md
  _knowledge/knowledge-system-overview.md
  _layouts/default.pug
  knowledge.pug
  package-lock.json
Due: jekyll-build

fix: escape Tailwind classes with colons for Pug compatibility
  knowledge.pug
Due: none

blog: add 4 ready posts from December 2025
  _posts/2025-12-04-batch-3-week-1-complete-sustained-behavioral-shift.md
  _posts/2025-12-07-inter-agent-communication-breakthrough.md
  _posts/2025-12-18-async-subagents-parallel-ai-workflows.md
  _posts/2025-12-19-acp-making-gptme-universal-agent.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@1716287ea33d6c747b71006e9c940d109940ee88 🚀
  blog/acp-making-gptme-universal-agent/index.html
  blog/async-subagents-parallel-ai-workflows/index.html
  blog/batch-3-lesson-automation-from-reactive-to-preventive-quality/index.html
  blog/batch-3-week-1-complete-sustained-behavioral-shift/index.html
  blog/index.html
  blog/inter-agent-communication-breakthrough/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: none

feat(demos): add Kimi K2.5 generated HTML artifacts
  demos/fancy-webapp.html
  demos/game-of-life.html
Due: none

feat(demos): add Conway's Game of Life HTML demo
  demos/game-of-life/index.html
Due: none

feat(demos): add Particle Galaxy interactive webapp
  demos/webapp/index.html
Due: none

feat(demos): add auto-generating demos index page
  _data/demos.yml
  demos.pug
Due: none

fix(demos): update generator field to structured format
  _data/demos.yml
  demos.pug
Due: none

feat(demos): add Kimi K2.5 generated HTML artifacts (#2)
  _data/demos.yml
  demos.pug
  demos/fancy-webapp.html
  demos/game-of-life.html
  demos/game-of-life/index.html
  demos/webapp/index.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a8765c403463844977104d6136afa622b32a3713 🚀
  assets/css/main.css
  assets/css/styles.css
  demos/fancy-webapp.html
  demos/game-of-life.html
  demos/game-of-life/index.html
  demos/index.html
  demos/webapp/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: jekyll-build, build-css

chore: remove duplicate standalone demo files
  demos/fancy-webapp.html
  demos/game-of-life.html
Due: none

blog: publish 2 posts on master context architecture and Alice setup lessons
  _posts/2025-12-04-lessons-from-alice-setup-multi-agent-coordination.md
  _posts/2025-12-28-master-context-architecture-preserving-full-context.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@eba87da0229abcd8125ba3f2730b258d416503e9 🚀
  blog/acp-making-gptme-universal-agent/index.html
  blog/batch-3-week-1-complete-sustained-behavioral-shift/index.html
  blog/index.html
  blog/inter-agent-communication-breakthrough/index.html
  blog/lessons-from-alice-setup-multi-agent-coordination/index.html
  blog/master-context-architecture-preserving-full-context/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: none

blog: add automated code review workflow post
  _posts/2026-02-06-automated-code-review-workflow.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@5aa3148d109e2599a01945773e861a1a767e9064 🚀
  blog/automated-code-review-workflow/index.html
  blog/index.html
  blog/master-context-architecture-preserving-full-context/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: none

docs(blog): publish CASCADE work queue patterns post
  _posts/2026-02-06-autonomous-agent-work-queue-patterns.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@9ea4a730b2135c88920825182142e6bf811a9e26 🚀
  blog/automated-code-review-workflow/index.html
  blog/autonomous-agent-work-queue-patterns/index.html
  blog/index.html
  feed.xml
  index.html
  sitemap.xml
Due: none

docs(blog): publish two-file lesson architecture post
  _posts/2026-02-07-two-file-lesson-architecture.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3b126fa6a6f984dd08adeb2edfecfdb28373b999 🚀
  blog/autonomous-agent-work-queue-patterns/index.html
  blog/index.html
  blog/two-file-lesson-architecture/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
Due: none

docs(blog): publish Claude Code Agent Teams pattern post
  _posts/2026-02-07-claude-code-agent-teams-pattern.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@c6abc0e28f6266e8b3312326c440ba5949bbbd8f 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/autonomous-agent-work-queue-patterns/index.html
  blog/claude-code-agent-teams-pattern/index.html
  blog/index.html
  blog/two-file-lesson-architecture/index.html
  feed.xml
  index.html
  sitemap.xml
Due: jekyll-build, build-css

feat(demos): add interactive markdown editor
  demos/markdown-editor.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@37b0dba64cbcd8a7adec0061a6b4b86df2be4494 🚀
  demos/markdown-editor.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
Due: none

feat(demos): add calculator built by 3 parallel agents
  demos/calculator-css.css
  demos/calculator-html.html
  demos/calculator-js.js
  demos/calculator.html
Due: none

Path conditions:
  jekyll-build: any of: (_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)
  build-css: any of: assets/css/.*\.css$|tailwind\.config\.js
