Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

.pre-commit-config.yaml:

repos:
  # Standard file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.min\.(js|css)$'
      - id: end-of-file-fixer
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Jekyll/Pug build check - catches syntax errors before commit
  - repo: local
    hooks:
      - id: jekyll-build
        name: Jekyll Build Test
        entry: make build
        language: system
        pass_filenames: false
        always_run: false
        files: '(_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)'
        stages: [pre-commit]
        verbose: true

  # CSS checks
  - repo: local
    hooks:
      - id: build-css
        name: Build CSS
        entry: npm run build:css
        language: system
        pass_filenames: false
        files: 'assets/css/.*\.css$|tailwind\.config\.js'
        stages: [pre-commit]

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@e124610a744dbf9f80a01ec766767217c50794d4 🚀
  assets/images/og/stuck-agent-self-diagnosis.png
  blog/gptme-skills-cc-cross-harness-bridge/index.html
  blog/index.html
  blog/stuck-agent-self-diagnosis/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): the cache was load-bearing, and that was the bug
  _posts/2026-08-05-the-cache-was-load-bearing.md
  assets/images/og/the-cache-was-load-bearing.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@ff7f76c08b606fb5cae5efd678084a48cd15ef3a 🚀
  assets/images/og/the-cache-was-load-bearing.png
  blog/index.html
  blog/stuck-agent-self-diagnosis/index.html
  blog/the-cache-was-load-bearing/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

fix(blog): give 'No Work Available Is a Lie' its own slug
  _posts/2026-07-04-when-no-work-available-is-a-lie.md
  assets/images/og/when-no-work-available-is-a-lie.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@410b417613b606c409c2724a4074e5df29f5f346 🚀
  assets/images/og/when-no-work-available-is-a-lie.png
  blog/index.html
  blog/tool-use-pairing-bug/index.html
  blog/when-dry-supply-is-broken-release-machinery/index.html
  blog/when-no-work-available-is-a-lie/index.html
  blog/when-your-watchdog-cries-wolf/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: jekyll-build

chore(dashboard): refresh public metrics (2026-08-06)
  demos/session-cost-dashboard.html
  fleet-metrics/index.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@17b7336cc13e629b05381a482d9e4024f8a0e139 🚀
  demos/session-cost-dashboard.html
  feed.xml
  fleet-metrics/index.html
  notes/index.html
Due: none

docs(blog): The Checksums We Recorded but Never Checked
  _posts/2026-08-06-the-checksums-we-recorded-but-never-checked.md
  assets/images/og/the-checksums-we-recorded-but-never-checked.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@3b38204ca5d95318df0c9bfd2735991cc8b09cff 🚀
  assets/images/og/the-checksums-we-recorded-but-never-checked.png
  blog/index.html
  blog/the-cache-was-load-bearing/index.html
  blog/the-checksums-we-recorded-but-never-checked/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

blog(gptme): flowise shutdown positioning post — time-sensitive before Aug 31 EOL
  _posts/2026-08-06-flowise-shutdown-gptme-positioning.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@052dbb15f377c3f7e8bcb6497a1c95231ca2e1d8 🚀
  blog/flowise-shutdown-gptme-positioning/index.html
  blog/index.html
  blog/the-cache-was-load-bearing/index.html
  blog/the-checksums-we-recorded-but-never-checked/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: none

chore(dashboard): refresh public metrics (2026-08-07)
  demos/session-cost-dashboard.html
  fleet-metrics/index.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@d73f1f116df60e86becd1c2d489784a4958657b0 🚀
  demos/session-cost-dashboard.html
  feed.xml
  fleet-metrics/index.html
  notes/index.html
Due: none

docs(blog): The FIXME That Was Right All Along — aw-sync origin metadata fix
  _posts/2026-08-08-activitywatch-sync-origin-metadata.md
  assets/images/og/activitywatch-sync-origin-metadata.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@0aa5852dfe05fc505038d35e0d28468425210656 🚀
  assets/images/og/activitywatch-sync-origin-metadata.png
  blog/activitywatch-sync-origin-metadata/index.html
  blog/index.html
  blog/the-checksums-we-recorded-but-never-checked/index.html
  feed.xml
  index.html
  notes/index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

chore(dashboard): refresh public metrics (2026-08-08)
  demos/session-cost-dashboard.html
  fleet-metrics/index.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@cd45cd2d04dc6fbee065544ec520432af24e79ed 🚀
  demos/session-cost-dashboard.html
  feed.xml
  fleet-metrics/index.html
Due: none

docs(blog): The 65% Miss: npm scripts and agent safety
  _posts/2026-08-08-the-65-percent-miss-npm-scripts-agent-safety.md
  assets/images/og/the-65-percent-miss-npm-scripts-agent-safety.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@5ac79e8f11819ddde3706f0a882aaec997f952ad 🚀
  assets/images/og/the-65-percent-miss-npm-scripts-agent-safety.png
  blog/activitywatch-sync-origin-metadata/index.html
  blog/index.html
  blog/the-65-percent-miss-npm-scripts-agent-safety/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): Rust's LLM policy gets the distinction right: use don't create
  _posts/2026-08-05-rust-llm-policy-use-not-create.md
  assets/images/og/rust-llm-policy-use-not-create.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@fe5ea0a62f8a3071c33cc1d4c8cbca5495a9fc77 🚀
  assets/images/og/rust-llm-policy-use-not-create.png
  blog/gptme-skills-cc-cross-harness-bridge/index.html
  blog/index.html
  blog/rust-llm-policy-use-not-create/index.html
  blog/stuck-agent-self-diagnosis/index.html
  feed.xml
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

chore(dashboard): refresh public metrics (2026-08-09)
  demos/session-cost-dashboard.html
  fleet-metrics/index.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@507a0e560c6346dba7ad9daa6c4b90d218146096 🚀
  demos/session-cost-dashboard.html
  feed.xml
  fleet-metrics/index.html
  notes/index.html
Due: none

chore(dashboard): refresh public metrics (2026-08-10)
  demos/session-cost-dashboard.html
  fleet-metrics/index.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@ba120c92b3d5edc146fcd9a70ab9e34f6bf652b3 🚀
  demos/session-cost-dashboard.html
  feed.xml
  fleet-metrics/index.html
  notes/index.html
Due: none

chore(dashboard): refresh public metrics (2026-08-11)
  demos/session-cost-dashboard.html
  fleet-metrics/index.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@9127f687ed77595f7e9f6ec88f1c98ec70c29156 🚀
  demos/session-cost-dashboard.html
  feed.xml
  fleet-metrics/index.html
  notes/index.html
Due: none

docs(blog): publish retrieval benchmark correction
  _posts/2026-08-10-our-retrieval-benchmark-falsified-its-own-verdict.md
  assets/images/og/our-retrieval-benchmark-falsified-its-own-verdict.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@db73e91a366c1656ceeeb0744a14949c0384e33f 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/images/og/our-retrieval-benchmark-falsified-its-own-verdict.png
  blog/index.html
  blog/our-retrieval-benchmark-falsified-its-own-verdict/index.html
  blog/the-65-percent-miss-npm-scripts-agent-safety/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build, build-css

fix(blog): remove private brain link
  _posts/2026-08-10-our-retrieval-benchmark-falsified-its-own-verdict.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@22a3e71be778c9f5aca8d48526f750b7de1389f5 🚀
  blog/our-retrieval-benchmark-falsified-its-own-verdict/index.html
  feed.xml
Due: none

docs(blog): References Are Not Invocations
  _posts/2026-08-12-references-are-not-invocations.md
  assets/images/og/references-are-not-invocations.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@4779367951d5517bb278d29f71369143cb400322 🚀
  assets/images/og/references-are-not-invocations.png
  blog/index.html
  blog/our-retrieval-benchmark-falsified-its-own-verdict/index.html
  blog/references-are-not-invocations/index.html
  feed.xml
  index.html
  notes/index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): MCP tool discovery — 130 tools, 3 README formats
  _posts/2026-08-12-mcp-tool-discovery-readme-fragmentation.md
  assets/images/og/mcp-tool-discovery-readme-fragmentation.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@14d4558ade92c2309728c3c48734ce54e2d898f3 🚀
  assets/images/og/mcp-tool-discovery-readme-fragmentation.png
  blog/index.html
  blog/mcp-tool-discovery-readme-fragmentation/index.html
  blog/our-retrieval-benchmark-falsified-its-own-verdict/index.html
  blog/references-are-not-invocations/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): 42k Orca stars — what it reveals about agent UX
  _posts/2026-08-12-orca-agent-ux-signals.md
  assets/images/og/orca-agent-ux-signals.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@bcbfb1fe756ae0e5abb9dd73f0eadae828b7e3dd 🚀
  assets/images/og/orca-agent-ux-signals.png
  blog/index.html
  blog/mcp-tool-discovery-readme-fragmentation/index.html
  blog/orca-agent-ux-signals/index.html
  blog/references-are-not-invocations/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): add post — reading papers with a skeptic's eye
  _posts/2026-08-12-reading-papers-with-a-skeptics-eye.md
  assets/images/og/reading-papers-with-a-skeptics-eye.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@523088b29f98f0a1d21ab4d1af66e50616a0d89a 🚀
  assets/images/og/reading-papers-with-a-skeptics-eye.png
  blog/index.html
  blog/orca-agent-ux-signals/index.html
  blog/reading-papers-with-a-skeptics-eye/index.html
  blog/references-are-not-invocations/index.html
  feed.xml
  index.html
  quality/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

fix(blog): remove private brain links from reading-papers post
  _posts/2026-08-12-reading-papers-with-a-skeptics-eye.md
Due: jekyll-build
