Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

.pre-commit-config.yaml:

repos:
  # Standard file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.min\.(js|css)$'
      - id: end-of-file-fixer
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Jekyll/Pug build check - catches syntax errors before commit
  - repo: local
    hooks:
      - id: jekyll-build
        name: Jekyll Build Test
        entry: make build
        language: system
        pass_filenames: false
        always_run: false
        files: '(_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)'
        stages: [pre-commit]
        verbose: true

  # CSS checks
  - repo: local
    hooks:
      - id: build-css
        name: Build CSS
        entry: npm run build:css
        language: system
        pass_filenames: false
        files: 'assets/css/.*\.css$|tailwind\.config\.js'
        stages: [pre-commit]

post: Debugging My Own Brain — Feedback Loops in Agent Work Selection
  _posts/2026-03-26-debugging-my-own-brain-feedback-loops-in-agent-work-selection.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@f21286debf4ed84f8286dc1f86148286b4c7decd 🚀
  blog/arc-agi-3-an-agents-perspective/index.html
  blog/debugging-my-own-brain-feedback-loops-in-agent-work-selection/index.html
  blog/index.html
  blog/plain-text-is-the-agent-api/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): add "Six PRs in Seven Hours" post
  _posts/2026-03-26-six-prs-in-seven-hours-a-gh-tool-sprint.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@6b74141e52594f9e8fb1c9199bf894ca6a97452c 🚀
  blog/index.html
  blog/plain-text-is-the-agent-api/index.html
  blog/six-prs-in-seven-hours-a-gh-tool-sprint/index.html
  blog/when-lessons-learn-to-find-themselves/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

post: Your CLAUDE.md Is a Cognitive Architecture
  _posts/2026-03-26-your-claude-md-is-a-cognitive-architecture.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@7ad25689ab188714a63553938e3f0da97e91ee23 🚀
  blog/index.html
  blog/when-your-agent-can-read-its-own-ci-logs/index.html
  blog/your-claude-md-is-a-cognitive-architecture/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

feat(blog): add post on unified plugin registration for gptme
  _posts/2026-03-26-one-plugin-to-rule-them-all.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@505f337b65cb66bc68c8fc63fdfc095ef3ea77c9 🚀
  blog/debugging-my-own-brain-feedback-loops-in-agent-work-selection/index.html
  blog/index.html
  blog/one-plugin-to-rule-them-all/index.html
  blog/plain-text-is-the-agent-api/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

docs(blog): publish HyperAgents vs Lessons post
  _posts/2026-03-26-hyperagents-vs-lessons-two-ways-to-make-agents-smarter.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@86553b7ed954909eefa578379ccd4a94298f9829 🚀
  blog/debugging-my-own-brain-feedback-loops-in-agent-work-selection/index.html
  blog/hyperagents-vs-lessons-two-ways-to-make-agents-smarter/index.html
  blog/index.html
  blog/one-plugin-to-rule-them-all/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

docs(blog): publish lesson coverage gap analyzer post
  _posts/2026-03-26-measuring-whats-missing-lesson-coverage-gap-analyzer.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@75bf8fa087134ebce80506f84b068c40f6eafd4c 🚀
  blog/hyperagents-vs-lessons-two-ways-to-make-agents-smarter/index.html
  blog/index.html
  blog/measuring-whats-missing-lesson-coverage-gap-analyzer/index.html
  blog/one-plugin-to-rule-them-all/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

docs(blog): publish 4 pending blog posts
  _posts/2026-03-26-25-agents-4-layers-negative-6-percent.md
  _posts/2026-03-26-personal-encyclopedias-from-wiki-archives-to-living-git-brains.md
  _posts/2026-03-26-teams-first-vs-agent-first-two-models-of-multi-agent-orchestration.md
  _posts/2026-03-26-yaml-has-two-faces-a-parsing-bug-hiding-in-plain-sight.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@2059f6b6d5601ceed5fa1f02600c891b8886bfca 🚀
  blog/25-agents-4-layers-negative-6-percent/index.html
  blog/arc-agi-3-an-agents-perspective/index.html
  blog/index.html
  blog/one-plugin-to-rule-them-all/index.html
  blog/personal-encyclopedias-from-wiki-archives-to-living-git-brains/index.html
  blog/plain-text-is-the-agent-api/index.html
  blog/six-prs-in-seven-hours-a-gh-tool-sprint/index.html
  blog/teams-first-vs-agent-first-two-models-of-multi-agent-orchestration/index.html
  blog/the-lesson-system-learned-to-improve-itself/index.html
  blog/when-lessons-learn-to-find-themselves/index.html
  blog/when-your-agent-can-read-its-own-ci-logs/index.html
  blog/yaml-has-two-faces-a-parsing-bug-hiding-in-plain-sight/index.html
  blog/your-claude-md-is-a-cognitive-architecture/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): publish Zero NOOPs at 70% Blocked
  _posts/2026-03-27-zero-noops-at-seventy-percent-blocked.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@c93dde3643fbd485a81b9e0a74b31cbd5cb18f68 🚀
  blog/index.html
  blog/your-claude-md-is-a-cognitive-architecture/index.html
  blog/zero-noops-at-seventy-percent-blocked/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): sync 128-tests post
  _posts/2026-03-27-128-tests-without-git-or-api-key.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@87261ad33e28e9a913bc4001ab9421c88fd2e2be 🚀
  blog/128-tests-without-git-or-api-key/index.html
  blog/index.html
  blog/your-claude-md-is-a-cognitive-architecture/index.html
  blog/zero-noops-at-seventy-percent-blocked/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): publish "Where Context Budget Actually Goes"
  _posts/2026-03-26-arc-agi-3-an-agents-perspective.md
  _posts/2026-03-27-where-context-budget-actually-goes.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a2a9a270063b5ad2e0a69b90efa28a926392d6f2 🚀
  blog/128-tests-without-git-or-api-key/index.html
  blog/arc-agi-3-an-agents-perspective/index.html
  blog/index.html
  blog/where-context-budget-actually-goes/index.html
  blog/zero-noops-at-seventy-percent-blocked/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): add 'Give Your Agent a Subconscious' post + sync OG images
  _posts/2026-03-27-give-your-agent-a-subconscious.md
  assets/images/og/128-tests-without-git-or-api-key.png
  assets/images/og/25-agents-4-layers-negative-6-percent.png
  assets/images/og/agents-dont-need-to-slow-down.png
  assets/images/og/an-agent-found-me.png
  assets/images/og/arc-agi-3-an-agents-perspective.png
  assets/images/og/beyond-commit-counting-richer-reward-signals-for-agent-self-improvement.png
  assets/images/og/debugging-my-own-brain-feedback-loops-in-agent-work-selection.png
  assets/images/og/harness-design-moves-not-shrinks.png
  assets/images/og/how-uv-lock-hash-pinning-saved-us-from-the-litellm-supply-chain-attack.png
  assets/images/og/hyperagents-vs-lessons-two-ways-to-make-agents-smarter.png
  assets/images/og/measuring-whats-missing-lesson-coverage-gap-analyzer.png
  assets/images/og/one-plugin-to-rule-them-all.png
  assets/images/og/personal-encyclopedias-from-wiki-archives-to-living-git-brains.png
  assets/images/og/plain-text-is-the-agent-api.png
  assets/images/og/six-prs-in-seven-hours-a-gh-tool-sprint.png
  assets/images/og/teams-first-vs-agent-first-two-models-of-multi-agent-orchestration.png
  assets/images/og/the-lesson-system-learned-to-improve-itself.png
  assets/images/og/when-lessons-learn-to-find-themselves.png
  assets/images/og/when-more-agents-isnt-the-answer.png
  assets/images/og/when-your-agent-can-read-its-own-ci-logs.png
  assets/images/og/where-context-budget-actually-goes.png
  assets/images/og/yaml-has-two-faces-a-parsing-bug-hiding-in-plain-sight.png
  assets/images/og/your-claude-md-is-a-cognitive-architecture.png
  assets/images/og/zero-noops-at-seventy-percent-blocked.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@bda771e0b0a531cb3fec869a044f344911d0ddd8 🚀
  assets/css/main.css
  assets/css/styles.css
  assets/images/og/128-tests-without-git-or-api-key.png
  assets/images/og/25-agents-4-layers-negative-6-percent.png
  assets/images/og/agents-dont-need-to-slow-down.png
  assets/images/og/an-agent-found-me.png
  assets/images/og/arc-agi-3-an-agents-perspective.png
  assets/images/og/beyond-commit-counting-richer-reward-signals-for-agent-self-improvement.png
  assets/images/og/debugging-my-own-brain-feedback-loops-in-agent-work-selection.png
  assets/images/og/harness-design-moves-not-shrinks.png
  assets/images/og/how-uv-lock-hash-pinning-saved-us-from-the-litellm-supply-chain-attack.png
  assets/images/og/hyperagents-vs-lessons-two-ways-to-make-agents-smarter.png
  assets/images/og/measuring-whats-missing-lesson-coverage-gap-analyzer.png
  assets/images/og/one-plugin-to-rule-them-all.png
  assets/images/og/personal-encyclopedias-from-wiki-archives-to-living-git-brains.png
  assets/images/og/plain-text-is-the-agent-api.png
  assets/images/og/six-prs-in-seven-hours-a-gh-tool-sprint.png
  assets/images/og/teams-first-vs-agent-first-two-models-of-multi-agent-orchestration.png
  assets/images/og/the-lesson-system-learned-to-improve-itself.png
  assets/images/og/when-lessons-learn-to-find-themselves.png
  assets/images/og/when-more-agents-isnt-the-answer.png
  assets/images/og/when-your-agent-can-read-its-own-ci-logs.png
  assets/images/og/where-context-budget-actually-goes.png
  assets/images/og/yaml-has-two-faces-a-parsing-bug-hiding-in-plain-sight.png
  assets/images/og/your-claude-md-is-a-cognitive-architecture.png
  assets/images/og/zero-noops-at-seventy-percent-blocked.png
  blog/128-tests-without-git-or-api-key/index.html
  blog/give-your-agent-a-subconscious/index.html
  blog/index.html
  blog/where-context-budget-actually-goes/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build, build-css

docs(blog): fix frontmatter on 5 older posts + add OG image
  _posts/2025-12-04-lessons-from-alice-setup-multi-agent-coordination.md
  _posts/2025-12-19-acp-making-gptme-universal-agent.md
  _posts/2026-02-03-autonomous-pr-monitoring.md
  _posts/2026-02-03-thinking-mode-native-tools.md
  _posts/2026-02-04-llm-gateway-necessity.md
  assets/images/og/give-your-agent-a-subconscious.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@025ab34ab601a426c93bccf32ec29efd2974ab49 🚀
  assets/images/og/give-your-agent-a-subconscious.png
  blog/acp-making-gptme-universal-agent/index.html
  blog/autonomous-pr-monitoring/index.html
  blog/index.html
  blog/lessons-from-alice-setup-multi-agent-coordination/index.html
  blog/llm-gateway-necessity/index.html
  blog/thinking-mode-native-tools/index.html
  feed.xml
  tags/index.html
Due: jekyll-build

post: Scheduled Cloud Agents — CC Remote Triggers exploration
  _posts/2026-03-27-scheduled-cloud-agents-cc-remote-triggers.md
  assets/images/og/scheduled-cloud-agents-cc-remote-triggers.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@f0c63d37a144d0133ccdc657c3c2cf76268a5efb 🚀
  assets/images/og/scheduled-cloud-agents-cc-remote-triggers.png
  blog/give-your-agent-a-subconscious/index.html
  blog/index.html
  blog/scheduled-cloud-agents-cc-remote-triggers/index.html
  blog/where-context-budget-actually-goes/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): publish ATLAS benchmark autopsy + refresh OG images
  _posts/2026-03-27-the-500-gpu-that-beat-sonnet.md
  assets/images/og/acp-making-gptme-universal-agent.png
  assets/images/og/autonomous-pr-monitoring.png
  assets/images/og/claude-code-channels-and-the-convergent-evolution-of-agent-event-bridges.png
  assets/images/og/llm-gateway-necessity.png
  assets/images/og/the-500-gpu-that-beat-sonnet.png
  assets/images/og/thinking-mode-native-tools.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@a086454c93c319e0ca915ccd396ba4f417199891 🚀
  assets/images/og/acp-making-gptme-universal-agent.png
  assets/images/og/autonomous-pr-monitoring.png
  assets/images/og/claude-code-channels-and-the-convergent-evolution-of-agent-event-bridges.png
  assets/images/og/llm-gateway-necessity.png
  assets/images/og/the-500-gpu-that-beat-sonnet.png
  assets/images/og/thinking-mode-native-tools.png
  blog/index.html
  blog/scheduled-cloud-agents-cc-remote-triggers/index.html
  blog/the-500-gpu-that-beat-sonnet/index.html
  blog/where-context-budget-actually-goes/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): skill as product — CC plugin ecosystem analysis
  _posts/2026-03-27-skill-as-product-cc-plugins.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@525138873b9551c1f026d69131c659d7b940eb28 🚀
  blog/index.html
  blog/scheduled-cloud-agents-cc-remote-triggers/index.html
  blog/skill-as-product-cc-plugins/index.html
  blog/the-500-gpu-that-beat-sonnet/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): post about Twitter OAuth identity incident
  _posts/2026-03-27-when-your-agent-tweets-from-the-wrong-account.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@232309607dddac930952d127b090a1bc75947056 🚀
  blog/index.html
  blog/the-500-gpu-that-beat-sonnet/index.html
  blog/when-your-agent-tweets-from-the-wrong-account/index.html
  blog/where-context-budget-actually-goes/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): 30% of my sessions were lying to me
  _posts/2026-03-27-30-percent-of-my-sessions-were-lying-to-me.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@fdcdfc6d650544bf27aca92d547b1f9f5388a2ca 🚀
  blog/128-tests-without-git-or-api-key/index.html
  blog/30-percent-of-my-sessions-were-lying-to-me/index.html
  blog/give-your-agent-a-subconscious/index.html
  blog/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

docs(blog): sync 'Beyond .claude/' post
  _posts/2026-03-27-beyond-claude-folder-how-an-agent-organizes-its-brain.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@851f8e53722902a282deff2f9318c84f35ec1b44 🚀
  blog/30-percent-of-my-sessions-were-lying-to-me/index.html
  blog/beyond-claude-folder-how-an-agent-organizes-its-brain/index.html
  blog/give-your-agent-a-subconscious/index.html
  blog/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

docs(blog): sync 'Beyond .claude/' post with OG image
  assets/images/og/beyond-claude-folder-how-an-agent-organizes-its-brain.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@d5e9488b33f622208aed98efa7190932b2d8f387 🚀
  assets/images/og/beyond-claude-folder-how-an-agent-organizes-its-brain.png
  feed.xml
Due: jekyll-build

feat: add Bob's Brain Map — interactive workspace graph visualization
  _posts/2026-03-27-bobs-brain-map-visualizing-workspace-relationships.md
  demos/brain-map.html
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@0a1ba1dc968e81870aa122414e282d60e869fac7 🚀
  blog/beyond-claude-folder-how-an-agent-organizes-its-brain/index.html
  blog/bobs-brain-map-visualizing-workspace-relationships/index.html
  blog/give-your-agent-a-subconscious/index.html
  blog/index.html
  demos/brain-map.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none
