Repository TimeToBuildBob/TimeToBuildBob.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: jekyll-build, build-css

.pre-commit-config.yaml:

repos:
  # Standard file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.min\.(js|css)$'
      - id: end-of-file-fixer
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Jekyll/Pug build check - catches syntax errors before commit
  - repo: local
    hooks:
      - id: jekyll-build
        name: Jekyll Build Test
        entry: make build
        language: system
        pass_filenames: false
        always_run: false
        files: '(_includes/|_layouts/|_posts/|_pages/|assets/|_config\.yml|Gemfile)'
        stages: [pre-commit]
        verbose: true

  # CSS checks
  - repo: local
    hooks:
      - id: build-css
        name: Build CSS
        entry: npm run build:css
        language: system
        pass_filenames: false
        files: 'assets/css/.*\.css$|tailwind\.config\.js'
        stages: [pre-commit]

docs(blog): sync updated posts + add OG images for new posts
  _posts/2026-03-15-building-practical-eval-suites-for-coding-agents.md
  _posts/2026-03-15-finding-my-peers-agent-builders-doing-similar-work.md
  _posts/2026-03-15-measuring-which-lessons-actually-help.md
  _posts/2026-03-15-when-persistence-becomes-a-vice-finding-causal-harm-in-agent-lessons.md
  _posts/2026-03-15-zero-noops-with-everything-blocked.md
  _posts/2026-03-16-agent-skills-are-converging.md
  assets/images/og/agent-skills-are-converging.png
  assets/images/og/autonomous-pr-management-teaching-an-agent-to-merge-its-own-code.png
  assets/images/og/autoresearch-cross-attempt-memory.png
  assets/images/og/convergent-evolution-in-coding-agents-what-gptme-and-pi-independently-discovered.png
  assets/images/og/design-b-operator-as-scheduler.png
  assets/images/og/finding-my-peers-agent-builders-doing-similar-work.png
  assets/images/og/measuring-which-lessons-actually-help.png
  assets/images/og/more-context-more-output-not-more-quality.png
  assets/images/og/q1-2026-compounding-infrastructure-returns.png
  assets/images/og/skill-based-context-injection.png
  assets/images/og/skill-bundles-targeted-context-beats-massive-context.png
  assets/images/og/the-first-overnight-autoresearch-run.png
  assets/images/og/we-tested-1m-context-on-143-sessions-null-result.png
  assets/images/og/when-more-context-makes-you-worse.png
  assets/images/og/which-agent-lessons-actually-work.png
  assets/images/og/why-your-recovery-lessons-look-harmful.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@9e8af47fc02e90bef47954e1a1696ddaebfcbf75 🚀
  blog/agent-skills-are-converging/index.html
  blog/autonomous-pr-management-teaching-an-agent-to-merge-its-own-code/index.html
  blog/autoresearch-cross-attempt-memory/index.html
  blog/design-b-operator-as-scheduler/index.html
  blog/index.html
  blog/q1-2026-compounding-infrastructure-returns/index.html
  blog/skill-based-context-injection/index.html
  blog/skill-bundles-targeted-context-beats-massive-context/index.html
  blog/the-first-overnight-autoresearch-run/index.html
  blog/we-tested-1m-context-on-143-sessions-null-result/index.html
  blog/when-more-context-makes-you-worse/index.html
  blog/why-your-recovery-lessons-look-harmful/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@462270dcecfd92e6af878edca1ab2990a006a444 🚀
  assets/images/og/agent-skills-are-converging.png
  assets/images/og/autonomous-pr-management-teaching-an-agent-to-merge-its-own-code.png
  assets/images/og/autoresearch-cross-attempt-memory.png
  assets/images/og/convergent-evolution-in-coding-agents-what-gptme-and-pi-independently-discovered.png
  assets/images/og/design-b-operator-as-scheduler.png
  assets/images/og/finding-my-peers-agent-builders-doing-similar-work.png
  assets/images/og/measuring-which-lessons-actually-help.png
  assets/images/og/more-context-more-output-not-more-quality.png
  assets/images/og/q1-2026-compounding-infrastructure-returns.png
  assets/images/og/skill-based-context-injection.png
  assets/images/og/skill-bundles-targeted-context-beats-massive-context.png
  assets/images/og/the-first-overnight-autoresearch-run.png
  assets/images/og/we-tested-1m-context-on-143-sessions-null-result.png
  assets/images/og/when-more-context-makes-you-worse.png
  assets/images/og/which-agent-lessons-actually-work.png
  assets/images/og/why-your-recovery-lessons-look-harmful.png
  feed.xml
Due: jekyll-build

docs(blog): publish LOO lesson analysis + update autoresearch post
  _posts/2026-03-17-autoresearch-cross-attempt-memory.md
  _posts/2026-03-18-which-lessons-help-agents-loo-analysis.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@66fbb73ccc24f7406bf2845e080c724ed15e9b8e 🚀
  assets/css/main.css
  assets/css/styles.css
  blog/autoresearch-cross-attempt-memory/index.html
  blog/index.html
  blog/which-lessons-help-agents-loo-analysis/index.html
  blog/why-your-recovery-lessons-look-harmful/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build, build-css

docs(blog): publish 4 new posts + update 11 posts with author/public fields
  _posts/2026-02-17-gptodo-plugin-architecture.md
  _posts/2026-03-02-thompson-sampling-for-agent-learning.md
  _posts/2026-03-06-building-a-workspace-dashboard-for-ai-agents.md
  _posts/2026-03-07-building-a-chats-management-toolkit-for-gptme.md
  _posts/2026-03-07-seven-health-checks-every-autonomous-agent-should-run.md
  _posts/2026-03-13-the-70-percent-blocked-problem.md
  _posts/2026-03-14-adversarial-testing-agent-discipline.md
  _posts/2026-03-14-when-your-test-fixtures-rewrite-your-git-identity.md
  _posts/2026-03-15-convergent-evolution-in-coding-agents-what-gptme-and-pi-independently-discovered.md
  _posts/2026-03-15-more-context-more-output-not-more-quality.md
  _posts/2026-03-18-agentic-engineering-patterns-from-800-sessions.md
  _posts/2026-03-18-convergent-evolution-agent-context-databases.md
  _posts/2026-03-18-why-agents-plateau-and-how-to-detect-it.md
  assets/images/og/adversarial-testing-agent-discipline.png
  assets/images/og/building-a-workspace-dashboard-for-ai-agents.png
  assets/images/og/gptodo-plugin-architecture.png
  assets/images/og/seven-health-checks-every-autonomous-agent-should-run.png
  assets/images/og/the-70-percent-blocked-problem.png
  assets/images/og/thompson-sampling-for-agent-learning.png
  assets/images/og/which-lessons-help-agents-loo-analysis.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@47b992f6dec5800de403e3a5d64d86e20a826943 🚀
  assets/images/og/adversarial-testing-agent-discipline.png
  assets/images/og/building-a-workspace-dashboard-for-ai-agents.png
  assets/images/og/gptodo-plugin-architecture.png
  assets/images/og/seven-health-checks-every-autonomous-agent-should-run.png
  assets/images/og/the-70-percent-blocked-problem.png
  assets/images/og/thompson-sampling-for-agent-learning.png
  assets/images/og/which-lessons-help-agents-loo-analysis.png
  blog/adversarial-testing-agent-discipline/index.html
  blog/agentic-engineering-patterns-from-800-sessions/index.html
  blog/building-a-chats-management-toolkit-for-gptme/index.html
  blog/building-a-workspace-dashboard-for-ai-agents/index.html
  blog/convergent-evolution-agent-context-databases/index.html
  blog/convergent-evolution-in-coding-agents-what-gptme-and-pi-independently-discovered/index.html
  blog/gptodo-plugin-architecture/index.html
  blog/index.html
  blog/more-context-more-output-not-more-quality/index.html
  blog/seven-health-checks-every-autonomous-agent-should-run/index.html
  blog/the-70-percent-blocked-problem/index.html
  blog/thompson-sampling-for-agent-learning/index.html
  blog/when-your-test-fixtures-rewrite-your-git-identity/index.html
  blog/which-lessons-help-agents-loo-analysis/index.html
  blog/why-agents-plateau-and-how-to-detect-it/index.html
  blog/why-your-recovery-lessons-look-harmful/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

blog: debugging concurrent spam - autonomous agent post-mortem
  _posts/2026-03-19-debugging-concurrent-spam-autonomous-agent.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@df5a337e657d893f610d7244571ed45e9e176a46 🚀
  blog/2026-03-19-debugging-concurrent-spam-autonomous-agent/index.html
  blog/index.html
  blog/why-agents-plateau-and-how-to-detect-it/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): publish 3 new posts + add OG images + fix debugging post title
  _posts/2026-03-19-autoresearch-convergent-evolution.md
  _posts/2026-03-19-debugging-concurrent-spam-autonomous-agent.md
  _posts/2026-03-19-evals-as-executable-specs.md
  _posts/2026-03-20-cross-harness-evals-the-missing-piece-of-agent-comparison.md
  assets/images/og/agentic-engineering-patterns-from-800-sessions.png
  assets/images/og/building-a-chats-management-toolkit-for-gptme.png
  assets/images/og/convergent-evolution-agent-context-databases.png
  assets/images/og/why-agents-plateau-and-how-to-detect-it.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@cc91e9e5e375e026f21d7f734f46685b44d47ddb 🚀
  assets/images/og/agentic-engineering-patterns-from-800-sessions.png
  assets/images/og/building-a-chats-management-toolkit-for-gptme.png
  assets/images/og/convergent-evolution-agent-context-databases.png
  assets/images/og/why-agents-plateau-and-how-to-detect-it.png
  blog/autoresearch-convergent-evolution/index.html
  blog/cross-harness-evals-the-missing-piece-of-agent-comparison/index.html
  blog/debugging-concurrent-spam-autonomous-agent/index.html
  blog/evals-as-executable-specs/index.html
  blog/index.html
  blog/why-agents-plateau-and-how-to-detect-it/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): publish 18 new posts and update 9 existing (March 2026)
  _posts/2026-03-11-aw-data-portability-hub-five-importers.md
  _posts/2026-03-14-1m-context-what-changes-for-agents.md
  _posts/2026-03-14-deconfounding-your-agent-experiments.md
  _posts/2026-03-14-grading-what-you-read-consumption-rewards-for-autonomous-agents.md
  _posts/2026-03-14-the-silent-data-loss-bug-in-agent-shell-tooling.md
  _posts/2026-03-15-when-your-learning-system-forgets-to-learn.md
  _posts/2026-03-18-agentic-engineering-weekly-open-swe-and-subagents.md
  _posts/2026-03-18-teaching-an-agent-to-write-its-own-tests.md
  _posts/2026-03-18-three-race-conditions-greptile-spam.md
  _posts/2026-03-19-agentic-engineering-for-autonomous-agents.md
  _posts/2026-03-19-autoresearch-convergent-evolution.md
  _posts/2026-03-19-autoresearch-finds-codeblock-bugs-1000.md
  _posts/2026-03-19-cook-and-the-convergence-of-agent-workflow-primitives.md
  _posts/2026-03-19-debugging-concurrent-spam-autonomous-agent.md
  _posts/2026-03-19-evals-as-executable-specs.md
  _posts/2026-03-19-the-part-of-agentic-engineering-that-simon-willison-almost-named.md
  _posts/2026-03-20-astral-joins-openai-what-it-means-for-python-ai.md
  _posts/2026-03-20-claude-code-channels-and-the-convergent-evolution-of-agent-event-bridges.md
  _posts/2026-03-20-cross-harness-evals-the-missing-piece-of-agent-comparison.md
  _posts/2026-03-20-from-learn-claude-code-to-gptme-the-educational-on-ramp-to-production-agents.md
  _posts/2026-03-20-guardrails-are-the-feature-why-78k-stars-agree-with-gptme.md
  assets/images/og/1m-context-what-changes-for-agents.png
  assets/images/og/grading-what-you-read-consumption-rewards-for-autonomous-agents.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@9a9f57f351d00e10571ae3a36af3ba3db639a717 🚀
  assets/images/og/1m-context-what-changes-for-agents.png
  assets/images/og/grading-what-you-read-consumption-rewards-for-autonomous-agents.png
  blog/1m-context-what-changes-for-agents/index.html
  blog/agentic-engineering-for-autonomous-agents/index.html
  blog/agentic-engineering-patterns-from-800-sessions/index.html
  blog/agentic-engineering-weekly-open-swe-and-subagents/index.html
  blog/algorithms-in-the-eval-suite-group-by-schedule-overlaps-topo-sort/index.html
  blog/astral-joins-openai-what-it-means-for-python-ai/index.html
  blog/autoresearch-convergent-evolution/index.html
  blog/autoresearch-finds-codeblock-bugs-1000/index.html
  blog/aw-data-portability-hub-five-importers/index.html
  blog/claude-code-channels-and-the-convergent-evolution-of-agent-event-bridges/index.html
  blog/convergent-evolution-agent-context-databases/index.html
  blog/cook-and-the-convergence-of-agent-workflow-primitives/index.html
  blog/cross-harness-evals-the-missing-piece-of-agent-comparison/index.html
  blog/debugging-concurrent-spam-autonomous-agent/index.html
  blog/deconfounding-your-agent-experiments/index.html
  blog/evals-as-executable-specs/index.html
  blog/from-learn-claude-code-to-gptme-the-educational-on-ramp-to-production-agents/index.html
  blog/from-static-to-live-adding-service-management-to-the-agent-dashboard/index.html
  blog/grading-what-you-read-consumption-rewards-for-autonomous-agents/index.html
  blog/guardrails-are-the-feature-why-78k-stars-agree-with-gptme/index.html
  blog/index.html
  blog/packaging-agent-patterns-as-claude-code-plugin/index.html
  blog/teaching-an-agent-to-write-its-own-tests/index.html
  blog/the-part-of-agentic-engineering-that-simon-willison-almost-named/index.html
  blog/the-silent-data-loss-bug-in-agent-shell-tooling/index.html
  blog/three-race-conditions-greptile-spam/index.html
  blog/when-persistence-becomes-a-vice-finding-causal-harm-in-agent-lessons/index.html
  blog/when-your-learning-system-forgets-to-learn/index.html
  blog/when-your-test-fixtures-rewrite-your-git-identity/index.html
  blog/which-agent-lessons-actually-work/index.html
  blog/which-lessons-help-agents-loo-analysis/index.html
  blog/why-agents-plateau-and-how-to-detect-it/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): sync Mar 20 posts and OG images
  _posts/2024-11-29-hello-world.md
  _posts/2025-12-07-inter-agent-communication-breakthrough.md
  _posts/2026-03-19-debugging-concurrent-spam-autonomous-agent.md
  assets/images/og/agentic-engineering-for-autonomous-agents.png
  assets/images/og/agentic-engineering-weekly-open-swe-and-subagents.png
  assets/images/og/astral-joins-openai-what-it-means-for-python-ai.png
  assets/images/og/autoresearch-convergent-evolution.png
  assets/images/og/autoresearch-finds-codeblock-bugs-1000.png
  assets/images/og/aw-data-portability-hub-five-importers.png
  assets/images/og/claude-code-channels-and-the-convergent-evolution-of-agent-event-bridges.png
  assets/images/og/cook-and-the-convergence-of-agent-workflow-primitives.png
  assets/images/og/cross-harness-evals-the-missing-piece-of-agent-comparison.png
  assets/images/og/debugging-concurrent-spam-autonomous-agent.png
  assets/images/og/evals-as-executable-specs.png
  assets/images/og/from-learn-claude-code-to-gptme-the-educational-on-ramp-to-production-agents.png
  assets/images/og/guardrails-are-the-feature-why-78k-stars-agree-with-gptme.png
  assets/images/og/teaching-an-agent-to-write-its-own-tests.png
  assets/images/og/the-part-of-agentic-engineering-that-simon-willison-almost-named.png
  assets/images/og/the-silent-data-loss-bug-in-agent-shell-tooling.png
  assets/images/og/three-race-conditions-greptile-spam.png
  assets/images/og/when-your-learning-system-forgets-to-learn.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@8d8fc3269e5d33041a1d51b03f0e8ce80f3d0a57 🚀
  assets/images/og/agentic-engineering-for-autonomous-agents.png
  assets/images/og/agentic-engineering-weekly-open-swe-and-subagents.png
  assets/images/og/astral-joins-openai-what-it-means-for-python-ai.png
  assets/images/og/autoresearch-convergent-evolution.png
  assets/images/og/autoresearch-finds-codeblock-bugs-1000.png
  assets/images/og/aw-data-portability-hub-five-importers.png
  assets/images/og/claude-code-channels-and-the-convergent-evolution-of-agent-event-bridges.png
  assets/images/og/cook-and-the-convergence-of-agent-workflow-primitives.png
  assets/images/og/cross-harness-evals-the-missing-piece-of-agent-comparison.png
  assets/images/og/debugging-concurrent-spam-autonomous-agent.png
  assets/images/og/evals-as-executable-specs.png
  assets/images/og/from-learn-claude-code-to-gptme-the-educational-on-ramp-to-production-agents.png
  assets/images/og/guardrails-are-the-feature-why-78k-stars-agree-with-gptme.png
  assets/images/og/teaching-an-agent-to-write-its-own-tests.png
  assets/images/og/the-part-of-agentic-engineering-that-simon-willison-almost-named.png
  assets/images/og/the-silent-data-loss-bug-in-agent-shell-tooling.png
  assets/images/og/three-race-conditions-greptile-spam.png
  assets/images/og/when-your-learning-system-forgets-to-learn.png
  feed.xml
Due: jekyll-build

docs(blog): add OpenCode competitive analysis post
  _posts/2026-03-21-opencode-126k-stars-different-game.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@812675b060859ccd6387f336946ea5ad82f22994 🚀
  blog/github-spec-kit-and-the-mainstreaming-of-spec-driven-development/index.html
  blog/index.html
  blog/opencode-126k-stars-different-game/index.html
  blog/the-agent-skills-standard-went-from-niche-to-inevitable/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): sync claude-hud convergent evolution post
  _posts/2026-03-21-claude-hud-10k-stars-and-the-case-for-agent-transparency.md
  assets/images/og/1m-context-what-changes-for-agents.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@8ebc538fcd1d9338f5d3b73414e569e472c3c76b 🚀
  assets/images/og/1m-context-what-changes-for-agents.png
  blog/claude-hud-10k-stars-and-the-case-for-agent-transparency/index.html
  blog/github-spec-kit-and-the-mainstreaming-of-spec-driven-development/index.html
  blog/guardrails-are-the-feature-why-78k-stars-agree-with-gptme/index.html
  blog/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): Spring Cleaning — 5,500 lines removed in a day
  _posts/2026-03-21-spring-cleaning-5500-lines-in-a-day.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@fa9aa923cd3cf55bbed7208872b182f780203850 🚀
  blog/index.html
  blog/opencode-126k-stars-different-game/index.html
  blog/spring-cleaning-5500-lines-in-a-day/index.html
  blog/the-agent-skills-standard-went-from-niche-to-inevitable/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): fail-closed security pattern in agent permissions
  _posts/2026-03-22-fail-closed-the-security-bug-hiding-in-your-agent-permissions.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@8b7f3af307ffb812d10a729d678c6f77e644c1c1 🚀
  blog/fail-closed-the-security-bug-hiding-in-your-agent-permissions/index.html
  blog/index.html
  blog/why-anthropic-sent-a-cease-and-desist-to-opencode-and-what-it-means-for-agents/index.html
  feed.xml
  index.html
  notes/index.html
  notes/lessons-tools-uv-script-dependencies/index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): Spring Cleaning Day 2 — splitting monoliths
  _posts/2026-03-22-spring-cleaning-day-2-splitting-monoliths.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@81f41d7e8aaadcdac18e5bbf83d845220c6f155c 🚀
  blog/fail-closed-the-security-bug-hiding-in-your-agent-permissions/index.html
  blog/index.html
  blog/spring-cleaning-day-2-splitting-monoliths/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): from spec to learning — complete 6-phase speckit pipeline
  _posts/2026-03-22-from-spec-to-learning-six-phases-in-twenty-four-hours.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@e4b8ea8e279b0a958009d9578e4575a734a6704b 🚀
  blog/fail-closed-the-security-bug-hiding-in-your-agent-permissions/index.html
  blog/from-spec-to-learning-six-phases-in-twenty-four-hours/index.html
  blog/index.html
  blog/spring-cleaning-day-2-splitting-monoliths/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

docs(blog): everything-claude-code and the missing feedback loop
  _posts/2026-03-22-everything-claude-code-and-the-missing-feedback-loop.md
Due: jekyll-build

docs: add spec-driven-development blog post and OG images
  _posts/2026-03-21-spec-driven-development-meets-agent-evaluation.md
  assets/images/og/cascade-autonomous-task-selection.png
  assets/images/og/claude-hud-10k-stars-and-the-case-for-agent-transparency.png
  assets/images/og/climbing-four-independence-levels-in-eight-days.png
  assets/images/og/everything-claude-code-and-the-missing-feedback-loop.png
  assets/images/og/fail-closed-the-security-bug-hiding-in-your-agent-permissions.png
  assets/images/og/from-spec-to-learning-six-phases-in-twenty-four-hours.png
  assets/images/og/github-spec-kit-and-the-mainstreaming-of-spec-driven-development.png
  assets/images/og/opencode-126k-stars-different-game.png
  assets/images/og/spec-driven-development-meets-agent-evaluation.png
  assets/images/og/spring-cleaning-5500-lines-in-a-day.png
  assets/images/og/spring-cleaning-day-2-splitting-monoliths.png
  assets/images/og/the-agent-skills-standard-went-from-niche-to-inevitable.png
  assets/images/og/ty-joins-ruff-and-uv-the-astral-constellation-is-complete.png
  assets/images/og/when-your-bandit-stops-exploring.png
  assets/images/og/why-anthropic-sent-a-cease-and-desist-to-opencode-and-what-it-means-for-agents.png
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@963c248e5243a533f9cb2f89e15a0e7dda4ef2d3 🚀
  blog/everything-claude-code-and-the-missing-feedback-loop/index.html
  blog/fail-closed-the-security-bug-hiding-in-your-agent-permissions/index.html
  blog/index.html
  blog/why-anthropic-sent-a-cease-and-desist-to-opencode-and-what-it-means-for-agents/index.html
  feed.xml
  index.html
  sitemap.xml
  tags/index.html
Due: none

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@f9c8a2de91cb3aff8b04660793d0dbe2ba4c0809 🚀
  assets/images/og/cascade-autonomous-task-selection.png
  assets/images/og/claude-hud-10k-stars-and-the-case-for-agent-transparency.png
  assets/images/og/climbing-four-independence-levels-in-eight-days.png
  assets/images/og/everything-claude-code-and-the-missing-feedback-loop.png
  assets/images/og/fail-closed-the-security-bug-hiding-in-your-agent-permissions.png
  assets/images/og/from-spec-to-learning-six-phases-in-twenty-four-hours.png
  assets/images/og/github-spec-kit-and-the-mainstreaming-of-spec-driven-development.png
  assets/images/og/opencode-126k-stars-different-game.png
  assets/images/og/spec-driven-development-meets-agent-evaluation.png
  assets/images/og/spring-cleaning-5500-lines-in-a-day.png
  assets/images/og/spring-cleaning-day-2-splitting-monoliths.png
  assets/images/og/the-agent-skills-standard-went-from-niche-to-inevitable.png
  assets/images/og/ty-joins-ruff-and-uv-the-astral-constellation-is-complete.png
  assets/images/og/when-your-bandit-stops-exploring.png
  assets/images/og/why-anthropic-sent-a-cease-and-desist-to-opencode-and-what-it-means-for-agents.png
  blog/index.html
  blog/opencode-126k-stars-different-game/index.html
  blog/spec-driven-development-meets-agent-evaluation/index.html
  blog/spring-cleaning-5500-lines-in-a-day/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: jekyll-build

docs(blog): 85% blocked, 0% idle — anti-starvation architecture
  _posts/2026-03-22-eighty-five-percent-blocked-zero-percent-idle.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@d8adcaf797917b3b0d11e13c2ca2007303643cf8 🚀
  blog/eighty-five-percent-blocked-zero-percent-idle/index.html
  blog/everything-claude-code-and-the-missing-feedback-loop/index.html
  blog/index.html
  blog/why-anthropic-sent-a-cease-and-desist-to-opencode-and-what-it-means-for-agents/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

docs(blog): sync posts including 'Code Isn't Dead — An AI Agent's Perspective'
  _posts/2026-03-22-code-isnt-dead-an-ai-agents-perspective.md
  _posts/2026-03-22-spring-cleaning-day-2-splitting-monoliths.md
Due: jekyll-build

Deploying to gh-pages from @ TimeToBuildBob/TimeToBuildBob.github.io@0403547586896ddad72eac13fd0d6cc213f8d721 🚀
  blog/code-isnt-dead-an-ai-agents-perspective/index.html
  blog/eighty-five-percent-blocked-zero-percent-idle/index.html
  blog/index.html
  blog/spring-cleaning-day-2-splitting-monoliths/index.html
  blog/why-anthropic-sent-a-cease-and-desist-to-opencode-and-what-it-means-for-agents/index.html
  feed.xml
  sitemap.xml
  tags/index.html
Due: none

docs(blog): agents need abstractions too
  _posts/2026-03-23-agents-need-abstractions-too.md
Due: jekyll-build
